In [7]:
import pandas as pd
import numpy as np
import os
import sys

In [3]:
print (os.listdir())

['stock.txt', '1101.TW.csv', '2610.TW.csv', '2395.TW.csv', '2454.TW.csv', '2887.TW.csv', '1326.TW.csv', '2317.TW.csv', '2352.TW.csv', '3045.TW.csv', '2885.TW.csv', '2823.TW.csv', '2303.TW.csv', '2881.TW.csv', '2227.TW.csv', '2327.TW.csv', '1216.TW.csv', '2801.TW.csv', '2002.TW.csv', '2883.TW.csv', '3008.TW.csv', '1402.TW.csv', '2891.TW.csv', '2301.TW.csv', '3481.TW.csv', 'Variance.py', '2354.TW.csv', 'stock.py', '1206.TW.csv', '2474.TW.csv', '2409.TW.csv', '2308.TW.csv', '2886.TW.csv', '2412.TW.csv', '1303.TW.csv', '5871.TW.csv', 'Download csv.py', '1102.TW.csv', '2105.TW.csv', '9904.TW.csv', '2884.TW.csv', '5880.TW.csv', '2330.TW.csv', '1301.TW.csv', '4904.TW.csv', '2633.TW.csv', '2609.TW.csv', '2357.TW.csv', '2892.TW.csv', '6505.TW.csv', '2880.TW.csv', '2408.TW.csv', '2882.TW.csv', '4938.TW.csv', '2890.TW.csv', '2382.TW.csv', '2912.TW.csv', 'Untitled.ipynb', '.ipynb_checkpoints']

In [38]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
               columns=['letter', 'number'])
df2 = pd.DataFrame([['c', 3], ['d', 4]],
                  columns=['letter', 'number'])

df2['ajiji'] = 2
df2

  letter  number  ajiji
0      c       3      2
1      d       4      2

In [36]:
df1

  letter  number
0      a       1
1      b       2

In [34]:
pd.concat([df1, df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [118]:
files = [f for f in os.listdir('.') if os.path.isfile(f)]

merged = []
col = []

for f in files:
    file, ext = os.path.splitext(f)
    if ext == '.csv':
        if file == 'data':
            continue
        read = pd.read_csv(f)
        read['stock_symbol'] = file[:4]
        print (read)
        merged.append(read)
        
result = pd.concat(merged)

result.to_csv('data.csv', index=False)

            Date       Open       High        Low      Close  Adj Close  \
0     2000-05-15  17.734600  18.602699  17.734600  18.602699   9.376492
1     2000-05-16  18.974800  19.222799  18.354700  19.160801   9.657798
2     2000-05-17  19.594801  20.215000  19.408800  19.656900   9.907853
3     2000-05-18  19.098801  19.594801  18.912701  19.222799   9.689047
4     2000-05-19  18.974800  19.656900  18.974800  19.346800   9.751550
5     2000-05-22  18.540600  18.726700  18.044600  18.044600   9.095189
6     2000-05-23  18.106701  18.168600  17.362499  17.610600   8.876434
7     2000-05-24  17.114500  17.548500  17.052500  17.052500   8.595130
8     2000-05-25  17.362499  17.486500  16.370399  16.370399   8.251326
9     2000-05-26  16.060301  16.370399  15.936300  16.184299   8.157524
10    2000-05-29  16.246401  16.928499  16.246401  16.866400   8.501328
11    2000-05-30  16.866400  16.866400  16.866400  16.866400   8.501328
12    2000-05-31  17.610600  17.610600  17.114500  17.300501   8.720135
13    2000-06-01  17.362499  17.672600  17.052500  17.052500   8.595130
14    2000-06-02  17.362499  17.734600  17.052500  17.114500   8.626381
15    2000-06-05  17.548500  17.548500  17.114500  17.114500   8.626381
16    2000-06-06  17.114500  17.114500  17.114500  17.114500   8.626381
17    2000-06-07  17.114500  17.300501  16.494400  16.556400   8.345077
18    2000-06-08  16.742500  17.672600  16.742500  17.672600   8.907685
19    2000-06-09  17.610600  17.610600  17.052500  17.114500   8.626381
20    2000-06-12  17.114500  17.362499  16.742500  16.742500   8.438879
21    2000-06-13  16.432400  16.866400  16.432400  16.556400   8.345077
22    2000-06-14  16.556400  16.866400  16.556400  16.556400   8.345077
23    2000-06-15  16.556400  16.742500  16.432400  16.494400   8.313826
24    2000-06-16  16.556400  16.680401  16.246401  16.246401   8.188826
25    2000-06-19  15.998300  16.432400  15.688300  16.432400   8.282575
26    2000-06-20  16.618401  16.742500  15.936300  15.936300   8.032524
27    2000-06-21  15.936300  16.246401  15.812300  15.936300   8.032524
28    2000-06-22  16.122299  16.184299  15.812300  16.122299   8.126273
29    2000-06-23  16.122299  16.122299  15.936300  15.998300   8.063773
...          ...        ...        ...        ...        ...        ...
4490  2018-03-27  36.799999  37.200001  36.799999  37.150002  37.150002
4491  2018-03-28  37.099998  37.099998  36.799999  37.000000  37.000000
4492  2018-03-29  36.650002  36.799999  36.349998  36.549999  36.549999
4493  2018-03-30  36.500000  36.799999  36.400002  36.599998  36.599998
4494  2018-04-02  36.549999  36.849998  36.500000  36.650002  36.650002
4495  2018-04-03  36.299999  36.950001  36.200001  36.950001  36.950001
4496  2018-04-09  37.400002  37.450001  37.150002  37.349998  37.349998
4497  2018-04-10  37.250000  38.400002  37.250000  38.200001  38.200001
4498  2018-04-11  38.450001  38.799999  38.150002  38.450001  38.450001
4499  2018-04-12  38.599998  38.599998  37.900002  38.099998  38.099998
4500  2018-04-13  38.000000  38.400002  37.900002  38.200001  38.200001
4501  2018-04-16  38.000000  38.250000  37.900002  38.250000  38.250000
4502  2018-04-17  38.250000  38.250000  37.599998  38.000000  38.000000
4503  2018-04-18  38.000000  38.349998  38.000000  38.200001  38.200001
4504  2018-04-19  38.099998  39.200001  38.000000  39.000000  39.000000
4505  2018-04-20  38.900002  39.299999  38.599998  38.750000  38.750000
4506  2018-04-23  38.750000  39.099998  38.700001  38.900002  38.900002
4507  2018-04-24  39.500000  41.000000  39.500000  40.849998  40.849998
4508  2018-04-25  40.650002  40.900002  39.849998  40.200001  40.200001
4509  2018-04-26  40.250000  40.900002  40.250000  40.500000  40.500000
4510  2018-04-27  40.900002  40.900002  40.099998  40.299999  40.299999
4511  2018-04-30  40.700001  40.849998  40.150002  40.849998  40.849998
4512  2018-05-02  40.849998  41.400002  40.700001  40.849998  40.849998
4513  2018-05-03  40.650002  40.799999  39.150002  39.400002  39.400002
4514  2018-05-04  39.599998  40.099998  39.500000  39.549999  39.549999
4515  2018-05-07  40.000000  41.349998  40.000000  40.400002  40.400002
4516  2018-05-08  40.400002  41.200001  40.000000  40.799999  40.799999
4517  2018-05-09  40.700001  40.750000  40.400002  40.599998  40.599998
4518  2018-05-10  40.799999  41.299999  40.599998  41.099998  41.099998
4519  2018-05-11  41.150002  41.450001  40.849998  41.250000  41.250000

            Volume stock_symbol
0         61280484         1101
1     112096679457         1101
2      89215524570         1101
3      36414869904         1101
4         38683299         1101
5      30972918596         1101
6      20592249751         1101
7         15011416         1101
8      35063356660         1101
9         21027493         1101
10     18570947104         1101
11               0         1101
12        20478363         1101
13     14058475381         1101
14     21916122707         1101
15         8756792         1101
16               0         1101
17        21187067         1101
18     40762560853         1101
19        22724085         1101
20     10434697124         1101
21      9984239335         1101
22      9791161113         1101
23     12211731725         1101
24        10637753         1101
25     14675286904         1101
26     11293569008         1101
27         7621399         1101
28         9038956         1101
29      5218897110         1101
...            ...          ...
4490       4487686         1101
4491       2851838         1101
4492       5977425         1101
4493       5089666         1101
4494       2845216         1101
4495       5855277         1101
4496       7648516         1101
4497      15951693         1101
4498       9408389         1101
4499       5506470         1101
4500       4607344         1101
4501       3419974         1101
4502       7490481         1101
4503       4558474         1101
4504      14831475         1101
4505      12463820         1101
4506       4833651         1101
4507      37557211         1101
4508      15615426         1101
4509      14998877         1101
4510      11059291         1101
4511      13728774         1101
4512      15413381         1101
4513      16810513         1101
4514       7868494         1101
4515      20945014         1101
4516      14905884         1101
4517       9035573         1101
4518      15625626         1101
4519      12347124         1101

[4520 rows x 8 columns]
            Date       Open       High        Low      Close  Adj Close  \
0     2000-05-15  10.128600  10.128600   9.866210   9.918690   8.641142
1     2000-05-16  10.023700  10.023700   9.708770   9.918690   8.641142
2     2000-05-17   9.971160  10.233600   9.971160  10.181100   8.869753
3     2000-05-18  10.128600  10.181100   9.971160  10.023700   8.732625
4     2000-05-19  10.023700  10.233600  10.023700  10.181100   8.869753
5     2000-05-22   9.971160   9.971160   9.761250   9.761250   8.503979
6     2000-05-23   9.761250   9.761250   9.603810   9.656290   8.412539
7     2000-05-24   9.603810   9.603810   9.498850   9.551330   8.321097
8     2000-05-25   9.656290   9.761250   9.656290   9.708770   8.458258
9     2000-05-26   9.761250   9.813730   9.708770   9.813730   8.549702
10    2000-05-29   9.866210   9.971160   9.761250   9.918690   8.641142
11    2000-05-30   9.918690   9.918690   9.918690   9.918690   8.641142
12    2000-05-31  10.128600  10.181100  10.023700  10.128600   8.824015
13    2000-06-01  10.128600  10.181100   9.971160   9.971160   8.686853
14    2000-06-02  10.076100  10.128600  10.023700  10.076100   8.778277
15    2000-06-05  10.023700  10.076100   9.813730   9.866210   8.595420
16    2000-06-06   9.866210   9.866210   9.866210   9.866210   8.595420
17    2000-06-07   9.813730   9.866210   9.708770   9.866210   8.595420
18    2000-06-08   9.813730   9.918690   9.761250   9.918690   8.641142
19    2000-06-09   9.918690   9.918690   9.656290   9.656290   8.412539
20    2000-06-12   9.761250   9.761250   9.393890   9.498850   8.275377
21    2000-06-13   9.341410   9.551330   9.341410   9.393890   8.183936
22    2000-06-14   9.446370   9.551330   9.341410   9.393890   8.183936
23    2000-06-15   9.393890   9.446370   9.341410   9.393890   8.183936
24    2000-06-16   9.446370   9.656290   9.393890   9.446370   8.229657
25    2000-06-19   9.498850   9.551330   9.393890   9.446370   8.229657
26    2000-06-20   9.446370   9.551330   9.341410   9.393890   8.183936
27    2000-06-21   9.446370   9.446370   9.236450   9.236450   8.046776
28    2000-06-22   9.236450   9.341410   9.236450   9.236450   8.046776
29    2000-06-23   9.288940   9.446370   9.288940   9.446370   8.229657
...          ...        ...        ...        ...        ...        ...
4490  2018-03-27  10.750000  10.800000  10.700000  10.750000  10.750000
4491  2018-03-28  10.750000  10.750000  10.650000  10.700000  10.700000
4492  2018-03-29  10.700000  10.700000  10.600000  10.650000  10.650000
4493  2018-03-30  10.650000  10.700000  10.600000  10.650000  10.650000
4494  2018-04-02  10.800000  10.850000  10.700000  10.750000  10.750000
4495  2018-04-03  10.600000  10.650000  10.550000  10.550000  10.550000
4496  2018-04-09  10.600000  10.800000  10.600000  10.750000  10.750000
4497  2018-04-10  10.650000  10.750000  10.550000  10.600000  10.600000
4498  2018-04-11  10.700000  10.700000  10.500000  10.500000  10.500000
4499  2018-04-12  10.600000  10.650000  10.550000  10.650000  10.650000
4500  2018-04-13  10.650000  10.700000  10.550000  10.550000  10.550000
4501  2018-04-16  10.550000  10.650000  10.500000  10.550000  10.550000
4502  2018-04-17  10.600000  10.600000  10.400000  10.450000  10.450000
4503  2018-04-18  10.450000  10.550000  10.450000  10.450000  10.450000
4504  2018-04-19  10.450000  10.550000  10.450000  10.500000  10.500000
4505  2018-04-20  10.500000  10.550000  10.400000  10.500000  10.500000
4506  2018-04-23  10.450000  10.500000  10.250000  10.300000  10.300000
4507  2018-04-24  10.300000  10.450000  10.250000  10.400000  10.400000
4508  2018-04-25  10.400000  10.450000  10.300000  10.400000  10.400000
4509  2018-04-26  10.400000  10.500000  10.350000  10.400000  10.400000
4510  2018-04-27  10.450000  10.450000  10.350000  10.450000  10.450000
4511  2018-04-30  10.500000  10.850000  10.450000  10.850000  10.850000
4512  2018-05-02  10.800000  10.800000  10.450000  10.500000  10.500000
4513  2018-05-03  10.450000  10.500000  10.350000  10.350000  10.350000
4514  2018-05-04  10.300000  10.450000  10.300000  10.350000  10.350000
4515  2018-05-07  10.350000  10.400000  10.300000  10.300000  10.300000
4516  2018-05-08  10.300000  10.400000  10.250000  10.300000  10.300000
4517  2018-05-09  10.300000  10.350000  10.200000  10.350000  10.350000
4518  2018-05-10  10.300000  10.350000  10.200000  10.200000  10.200000
4519  2018-05-11  10.250000  10.300000  10.200000  10.200000  10.200000

          Volume stock_symbol
0        1985603         2610
1         831845         2610
2        5449497         2610
3        1119994         2610
4        2126211         2610
5        1318602         2610
6        1381271         2610
7        1105943         2610
8        1193331         2610
9        1490109         2610
10       1372399         2610
11             0         2610
12       3057441         2610
13        657818         2610
14       1165606         2610
15        771725         2610
16             0         2610
17        981821         2610
18        705730         2610
19       1057852         2610
20       2569911         2610
21        579792         2610
22        993544         2610
23        789825         2610
24       1168451         2610
25       1145202         2610
26        827785         2610
27       1173037         2610
28       1262620         2610
29    1701325300         2610
...          ...          ...
4490     6425453         2610
4491     2945047         2610
4492     6168860         2610
4493     6051960         2610
4494     2980257         2610
4495     7686000         2610
4496     6691289         2610
4497     8374843         2610
4498     9334867         2610
4499     6909306         2610
4500     6826900         2610
4501     4164781         2610
4502     7897856         2610
4503     5280982         2610
4504     5957226         2610
4505     7995157         2610
4506     8047419         2610
4507    10552651         2610
4508     6469011         2610
4509     8727342         2610
4510     6515095         2610
4511    14110490         2610
4512    10433680         2610
4513     5584609         2610
4514     4207152         2610
4515     5121921         2610
4516     5059078         2610
4517     9944788         2610
4518     9810562         2610
4519     6768841         2610

[4520 rows x 8 columns]
            Date        Open        High         Low       Close   Adj Close  \
0     2000-05-15   52.197102   54.044800   51.273300   51.966202   22.195553
1     2000-05-16   52.197102   53.120899   51.966202   52.889999   22.590122
2     2000-05-17   55.430599   55.430599   52.428101   53.351898   22.787401
3     2000-05-18   51.966202   53.120899   51.966202   52.428101   22.392838
4     2000-05-19   52.889999   53.813801   52.197102   53.351898   22.787401
5     2000-05-22   51.735199   52.659100   51.273300   51.273300   21.899607
6     2000-05-23   51.273300   51.273300   49.656601   49.656601   21.209087
7     2000-05-24   48.501701   49.656601   48.270802   49.194599   21.011763
8     2000-05-25   49.425598   50.118500   47.577900   47.577900   20.321247
9     2000-05-26   47.577900   48.732700   47.116001   48.501701   20.715815
10    2000-05-29   49.656601   49.656601   48.501701   48.732700   20.814480
11    2000-05-30   48.732700   48.732700   48.732700   48.732700   20.814480
12    2000-05-31   49.841301   49.841301   49.841301   49.841301   21.549633
13    2000-06-01   52.543598   52.543598   51.042301   51.943100   22.458376
14    2000-06-02   53.444302   54.044800   51.943100   51.943100   22.458376
15    2000-06-05   53.444302   53.444302   52.243301   52.543598   22.718012
16    2000-06-06   52.543598   52.543598   52.543598   52.543598   22.718012
17    2000-06-07   53.744598   53.744598   51.943100   53.144100   22.977648
18    2000-06-08   53.144100   53.744598   52.543598   53.444302   23.107445
19    2000-06-09   53.444302   53.444302   52.543598   52.543598   22.718012
20    2000-06-12   52.543598   53.144100   52.543598   52.843800   22.847811
21    2000-06-13   52.843800   52.843800   51.943100   51.943100   22.458376
22    2000-06-14   53.444302   55.546101   53.144100   55.546101   24.016190
23    2000-06-15   55.546101   58.248299   55.546101   56.146599   24.275826
24    2000-06-16   56.146599   57.047298   54.044800   54.345100   23.496920
25    2000-06-19   54.044800   54.044800   52.543598   54.044800   23.367081
26    2000-06-20   54.345100   54.645302   52.843800   52.843800   22.847811
27    2000-06-21   52.543598   53.444302   51.042301   51.943100   22.458376
28    2000-06-22   51.943100   52.543598   51.342602   51.943100   22.458376
29    2000-06-23   52.543598   52.543598   51.042301   51.342602   22.198742
...          ...         ...         ...         ...         ...         ...
4490  2018-03-27  211.500000  213.000000  210.000000  210.000000  210.000000
4491  2018-03-28  209.500000  212.000000  208.000000  209.000000  209.000000
4492  2018-03-29  211.500000  211.500000  208.000000  209.000000  209.000000
4493  2018-03-30  212.000000  212.000000  209.000000  209.000000  209.000000
4494  2018-04-02  210.500000  211.500000  210.000000  210.000000  210.000000
4495  2018-04-03  208.500000  208.500000  206.500000  207.000000  207.000000
4496  2018-04-09  207.000000  209.500000  206.500000  207.500000  207.500000
4497  2018-04-10  206.500000  208.500000  206.000000  206.000000  206.000000
4498  2018-04-11  208.500000  209.000000  205.500000  206.000000  206.000000
4499  2018-04-12  208.000000  209.000000  205.000000  207.000000  207.000000
4500  2018-04-13  208.000000  208.500000  206.500000  207.000000  207.000000
4501  2018-04-16  206.500000  207.000000  205.000000  205.000000  205.000000
4502  2018-04-17  205.000000  206.000000  200.000000  201.500000  201.500000
4503  2018-04-18  202.500000  203.000000  201.500000  201.500000  201.500000
4504  2018-04-19  202.500000  204.000000  202.500000  203.500000  203.500000
4505  2018-04-20  203.500000  203.500000  202.500000  203.000000  203.000000
4506  2018-04-23  203.000000  206.500000  201.500000  203.500000  203.500000
4507  2018-04-24  203.500000  204.000000  201.500000  203.500000  203.500000
4508  2018-04-25  207.000000  207.000000  201.000000  203.000000  203.000000
4509  2018-04-26  203.000000  204.000000  201.000000  201.000000  201.000000
4510  2018-04-27  201.500000  203.000000  200.000000  200.500000  200.500000
4511  2018-04-30  201.000000  207.000000  201.000000  204.500000  204.500000
4512  2018-05-02  203.000000  204.000000  200.000000  201.000000  201.000000
4513  2018-05-03  201.000000  208.000000  201.000000  206.500000  206.500000
4514  2018-05-04  205.500000  207.500000  204.000000  204.000000  204.000000
4515  2018-05-07  204.000000  205.500000  203.500000  205.500000  205.500000
4516  2018-05-08  206.500000  207.500000  204.500000  205.000000  205.000000
4517  2018-05-09  205.500000  206.000000  204.000000  205.000000  205.000000
4518  2018-05-10  207.000000  208.000000  205.500000  206.500000  206.500000
4519  2018-05-11  207.500000  209.000000  207.500000  208.500000  208.500000

          Volume stock_symbol
0     1485099828         2395
1     1117071515         2395
2     3520078014         2395
3     1047797117         2395
4     1030476618         2395
5        1701588         2395
6     1797066321         2395
7     1493760078         2395
8     1495925140         2395
9     1861788391         2395
10    1675608222         2395
11             0         2395
12     915904937         2395
13    2351381157         2395
14       1592012         2395
15     732723570         2395
16             0         2395
17       1378856         2395
18    1035805710         2395
19     526229799         2395
20     357168816         2395
21        662783         2395
22       2481274         2395
23       6731314         2395
24       1232311         2395
25     552873360         2395
26        736056         2395
27    1878108023         2395
28    1735225303         2395
29     994597357         2395
...          ...          ...
4490      493808         2395
4491      530952         2395
4492      897666         2395
4493      433998         2395
4494      526544         2395
4495      805950         2395
4496     1294862         2395
4497      766795         2395
4498      610496         2395
4499      387804         2395
4500      506604         2395
4501      600487         2395
4502     1823437         2395
4503      883195         2395
4504     1008999         2395
4505      953258         2395
4506      484019         2395
4507      649535         2395
4508      482999         2395
4509      300916         2395
4510      519449         2395
4511      877888         2395
4512      641470         2395
4513     1211324         2395
4514      851721         2395
4515      448202         2395
4516      412738         2395
4517      308861         2395
4518      310593         2395
4519      246678         2395

[4520 rows x 8 columns]
            Date        Open        High         Low       Close   Adj Close  \
0     2001-07-24   69.384300   70.047997   68.059303   69.825897   37.030159
1     2001-07-25   69.825897   74.689003   69.825897   74.689003   39.609169
2     2001-07-26   77.341400   79.771797   76.677696   79.771797   42.304680
3     2001-07-27   81.760498   83.085403   79.108101   79.549698   42.186901
4     2001-07-30   79.549698   79.549698   79.549698   79.549698   42.186901

            Date       Open       High        Low      Close  Adj Close  \
0     2000-05-15  25.288700  25.719200  24.912100  25.073500  15.969364
1     2000-05-16  25.342600  26.795300  25.288700  26.795300  17.065983
2     2000-05-17  27.709999  28.517099  27.709999  28.517099  18.162598
3     2000-05-18  27.441000  28.248100  27.441000  28.248100  17.991270
4     2000-05-19  27.979000  28.248100  27.441000  27.979000  17.819881
5     2000-05-22  26.687700  27.979000  26.364901  26.741501  17.031717
6     2000-05-23  26.795300  26.849100  25.826799  26.095800  16.620470
7     2000-05-24  25.019699  25.557800  24.965900  25.234900  16.072157
8     2000-05-25  25.450100  26.042000  24.750700  24.750700  15.763767
9     2000-05-26  24.212601  25.181101  24.212601  25.019699  15.935097
10    2000-05-29  25.019699  25.396400  24.481600  24.750700  15.763767
11    2000-05-30  24.750700  24.750700  24.750700  24.750700  15.763767
12    2000-05-31  26.902901  26.902901  26.095800  26.149599  16.654736
13    2000-06-01  26.149599  26.149599  25.288700  25.450100  16.209221
14    2000-06-02  26.311100  26.311100  25.450100  25.611601  16.312082
15    2000-06-05  25.988199  25.988199  25.719200  25.773001  16.414875
16    2000-06-06  25.773001  25.773001  25.773001  25.773001  16.414875
17    2000-06-07  25.557800  26.741501  25.557800  26.741501  17.031717
18    2000-06-08  27.171900  27.979000  26.849100  27.441000  17.477230
19    2000-06-09  27.171900  27.171900  26.472500  26.902901  17.134512
20    2000-06-12  26.526300  26.687700  25.826799  25.826799  16.449141
21    2000-06-13  25.342600  25.826799  25.342600  25.826799  16.449141
22    2000-06-14  25.719200  26.095800  25.288700  25.288700  16.106428
23    2000-06-15  25.288700  25.288700  24.535400  24.643101  15.695242
24    2000-06-16  24.535400  24.643101  24.212601  24.266399  15.455320
25    2000-06-19  24.320200  24.320200  22.706100  23.244101  14.804214
26    2000-06-20  23.405500  23.405500  21.629900  21.629900  13.776127
27    2000-06-21  20.446199  21.038099  20.123400  20.123400  12.816634
28    2000-06-22  19.800501  21.145700  19.800501  20.876699  13.296414
29    2000-06-23  20.715300  20.876699  20.338600  20.338600  12.953696
...          ...        ...        ...        ...        ...        ...
4490  2018-03-27  13.550000  13.600000  13.500000  13.550000  13.550000
4491  2018-03-28  13.500000  13.550000  13.400000  13.400000  13.400000
4492  2018-03-29  13.350000  13.400000  13.200000  13.350000  13.350000
4493  2018-03-30  13.400000  13.450000  13.350000  13.350000  13.350000
4494  2018-04-02  13.400000  13.500000  13.400000  13.450000  13.450000
4495  2018-04-03  13.350000  13.500000  13.350000  13.400000  13.400000
4496  2018-04-09  13.450000  13.500000  13.400000  13.500000  13.500000
4497  2018-04-10  13.550000  13.800000  13.450000  13.800000  13.800000
4498  2018-04-11  13.800000  13.900000  13.700000  13.750000  13.750000
4499  2018-04-12  13.800000  13.850000  13.700000  13.800000  13.800000
4500  2018-04-13  13.750000  13.850000  13.750000  13.800000  13.800000
4501  2018-04-16  13.750000  13.800000  13.650000  13.800000  13.800000
4502  2018-04-17  13.800000  13.800000  13.650000  13.700000  13.700000
4503  2018-04-18  13.700000  13.750000  13.650000  13.750000  13.750000
4504  2018-04-19  13.700000  13.850000  13.700000  13.850000  13.850000
4505  2018-04-20  13.850000  13.850000  13.700000  13.800000  13.800000
4506  2018-04-23  13.750000  13.850000  13.700000  13.800000  13.800000
4507  2018-04-24  13.800000  13.850000  13.700000  13.700000  13.700000
4508  2018-04-25  13.650000  13.850000  13.650000  13.850000  13.850000
4509  2018-04-26  14.050000  14.200000  14.050000  14.150000  14.150000
4510  2018-04-27  14.150000  14.250000  14.100000  14.250000  14.250000
4511  2018-04-30  14.250000  14.300000  14.150000  14.200000  14.200000
4512  2018-05-02  14.200000  14.550000  14.200000  14.550000  14.550000
4513  2018-05-03  14.550000  14.550000  14.350000  14.450000  14.450000
4514  2018-05-04  14.400000  14.450000  14.150000  14.150000  14.150000
4515  2018-05-07  14.200000  14.350000  14.150000  14.300000  14.300000
4516  2018-05-08  14.200000  14.250000  14.150000  14.250000  14.250000
4517  2018-05-09  14.350000  14.400000  14.250000  14.300000  14.300000
4518  2018-05-10  14.300000  14.350000  14.250000  14.250000  14.250000
4519  2018-05-11  14.300000  14.450000  14.300000  14.400000  14.400000

        Volume stock_symbol
0      9167838         2885
1     22290021         2885
2     30858572         2885
3     11857576         2885
4      7664363         2885
5     13799621         2885
6      7334895         2885
7     11331942         2885
8      8432958         2885
9      9885654         2885
10     6206887         2885
11           0         2885
12    16622343         2885
13     8550371         2885
14    13639114         2885
15     4759708         2885
16           0         2885
17    14473336         2885
18    31320938         2885
19    12496370         2885
20    10215709         2885
21     7617340         2885
22    19036953         2885
23    15494125         2885
24    10917063         2885
25    13567304         2885
26    23346449         2885
27    31819974         2885
28    22476841         2885
29     9906877         2885
...        ...          ...
4490  14948826         2885
4491  14435215         2885
4492  25126909         2885
4493  12717762         2885
4494  19987726         2885
4495  13353762         2885
4496  22936734         2885
4497  55046013         2885
4498  31866986         2885
4499  21708068         2885
4500  15262956         2885
4501  15254320         2885
4502  19449284         2885
4503  11472738         2885
4504  26010278         2885
4505  19857621         2885
4506  15165487         2885
4507  20695129         2885
4508  24011538         2885
4509  40239153         2885
4510  26486159         2885
4511  14825377         2885
4512  40775074         2885
4513  24010227         2885
4514  23513472         2885
4515  18990522         2885
4516  21978513         2885
4517  21766878         2885
4518  15670172         2885
4519  19176930         2885

[4520 rows x 8 columns]
            Date       Open       High        Low      Close  Adj Close  \
0     2000-05-15   6.569830   6.822500   6.569830   6.632980   5.556479
1     2000-05-16   6.696150   6.727740   6.506640   6.632980   5.556479
2     2000-05-17   6.790900   7.075180   6.696150   7.075180   5.926911
3     2000-05-18   7.075180   7.422620   7.075180   7.138350   5.979829
4     2000-05-19   7.201540   7.485790   7.201540   7.391040   6.191509
5     2000-05-22   6.948840   7.075180   6.759310   6.759310   5.662306
6     2000-05-23   6.790900   6.885670   6.696150   6.759310   5.662306
7     2000-05-24   6.664570   6.885670   6.632980   6.790900   5.688769
8     2000-05-25   7.106770   7.106770   6.822500   6.885670   5.768158
9     2000-05-26   6.885670   7.264700   6.790900   7.233100   6.059202
10    2000-05-29   7.296280   7.327870   7.106770   7.138350   5.979829
11    2000-05-30   7.138350   7.138350   7.138350   7.138350   5.979829
12    2000-05-31   7.169940   7.296280   7.138350   7.296280   6.112128
13    2000-06-01   7.296280   7.359450   7.138350   7.233100   6.059202
14    2000-06-02   7.233100   7.327870   6.948840   7.012020   5.874002
15    2000-06-05   7.012020   7.075180   6.822500   6.885670   5.768158
16    2000-06-06   6.885670   6.885670   6.885670   6.885670   5.768158
17    2000-06-07   6.885670   7.043600   6.885670   6.948840   5.821076
18    2000-06-08   7.043600   7.169940   6.948840   7.012020   5.874002
19    2000-06-09   7.138350   7.138350   6.854080   6.854080   5.741694
20    2000-06-12   6.854080   6.854080   6.569830   6.569830   5.503577
21    2000-06-13   6.569830   6.696150   6.475060   6.538230   5.477106
22    2000-06-14   6.632980   6.696150   6.538230   6.632980   5.556479
23    2000-06-15   6.664570   6.696150   6.475060   6.506640   5.450643
24    2000-06-16   6.538230   6.601400   6.380300   6.601400   5.530024
25    2000-06-19   6.538230   6.632980   6.475060   6.538230   5.477106
26    2000-06-20   6.569830   6.854080   6.538230   6.632980   5.556479
27    2000-06-21   6.632980   6.632980   6.411880   6.443470   5.397725
28    2000-06-22   6.348710   6.506640   6.348710   6.380300   5.344807
29    2000-06-23   6.380300   6.475060   6.380300   6.380300   5.344807
...          ...        ...        ...        ...        ...        ...
4490  2018-03-27  30.350000  30.600000  30.299999  30.549999  30.549999
4491  2018-03-28  30.500000  30.500000  30.299999  30.400000  30.400000
4492  2018-03-29  30.400000  30.400000  30.000000  30.250000  30.250000
4493  2018-03-30  30.299999  30.350000  30.000000  30.000000  30.000000
4494  2018-04-02  30.100000  30.299999  30.100000  30.200001  30.200001
4495  2018-04-03  30.000000  30.299999  29.950001  30.299999  30.299999
4496  2018-04-09  30.350000  30.400000  30.200001  30.250000  30.250000
4497  2018-04-10  30.450001  30.799999  30.450001  30.799999  30.799999
4498  2018-04-11  30.900000  30.950001  30.600000  30.850000  30.850000
4499  2018-04-12  30.900000  31.299999  30.850000  31.200001  31.200001
4500  2018-04-13  31.299999  31.400000  30.850000  31.049999  31.049999
4501  2018-04-16  31.049999  31.299999  30.950001  31.250000  31.250000
4502  2018-04-17  31.350000  31.400000  30.850000  31.150000  31.150000
4503  2018-04-18  31.000000  31.150000  30.799999  31.000000  31.000000
4504  2018-04-19  31.299999  31.750000  31.100000  31.700001  31.700001
4505  2018-04-20  31.600000  31.650000  31.299999  31.350000  31.350000
4506  2018-04-23  31.299999  31.450001  31.250000  31.350000  31.350000
4507  2018-04-24  31.500000  31.850000  31.200001  31.650000  31.650000
4508  2018-04-25  31.750000  32.000000  31.400000  32.000000  32.000000
4509  2018-04-26  32.099998  32.750000  32.049999  32.099998  32.099998
4510  2018-04-27  32.299999  32.500000  32.000000  32.299999  32.299999
4511  2018-04-30  32.250000  32.400002  32.150002  32.200001  32.200001
4512  2018-05-02  32.250000  32.299999  31.900000  32.000000  32.000000
4513  2018-05-03  31.950001  32.000000  31.400000  31.549999  31.549999
4514  2018-05-04  31.299999  31.450001  30.799999  30.850000  30.850000
4515  2018-05-07  31.000000  31.150000  30.900000  30.900000  30.900000
4516  2018-05-08  30.900000  31.150000  30.799999  31.150000  31.150000
4517  2018-05-09  31.200001  31.299999  30.950001  31.299999  31.299999
4518  2018-05-10  31.200001  31.450001  31.049999  31.250000  31.250000
4519  2018-05-11  31.299999  31.549999  31.150000  31.500000  31.500000

           Volume stock_symbol
0     23624101562         2823
1         9721227         2823
2     30381725201         2823
3     44254647855         2823
4     29934626183         2823
5     11574883375         2823
6      8242829624         2823
7     11374323662         2823
8        15411207         2823
9     27438831359         2823
10       18215710         2823
11              0         2823
12       18499171         2823
13    13528552687         2823
14    12977718628         2823
15     6528284880         2823
16              0         2823
17        8030541         2823
18    13420903322         2823
19        7112133         2823
20     5723244598         2823
21     4402322310         2823
22     5177536438         2823
23        3038866         2823
24     5652943027         2823
25     3887843760         2823
26     9664978826         2823
27        6143790         2823
28     4491406052         2823
29        3574410         2823
...           ...          ...
4490      6395939         2823
4491      3315500         2823
4492      6071750         2823
4493      4733690         2823
4494      1944495         2823
4495      4073263         2823
4496      3598668         2823
4497     11031885         2823
4498      8422134         2823
4499     10477256         2823
4500     11133557         2823
4501      7563230         2823
4502      9012104         2823
4503      5460333         2823
4504     13034333         2823
4505      5803595         2823
4506      3176588         2823
4507     11004120         2823
4508     10924237         2823
4509     13580786         2823
4510      6070292         2823
4511      4857610         2823
4512      5935838         2823
4513      6614087         2823
4514     14575093         2823
4515      4167473         2823
4516      6915939         2823
4517      3593226         2823
4518      4624369         2823
4519      7056996         2823

[4520 rows x 8 columns]
            Date       Open       High        Low      Close  Adj Close  \
0     2000-05-15  49.236698  49.236698  47.072399  47.342999  30.669872
1     2000-05-16  48.425098  50.318802  47.613499  50.048302  32.422436
2     2000-05-17  51.401001  53.024200  51.130402  51.942001  33.649216
3     2000-05-18  51.130402  51.671501  50.589401  51.671501  33.473976
4     2000-05-19  50.859901  51.401001  50.589401  51.130402  33.123436
5     2000-05-22  50.048302  50.589401  48.966202  48.966202  31.721420
6     2000-05-23  48.966202  49.236698  47.613499  47.884102  31.020416
7     2000-05-24  46.531399  47.342999  46.260799  47.072399  30.494577
8     2000-05-25  47.613499  47.884102  45.990299  46.260799  29.968796
9     2000-05-26  45.990299  47.072399  45.719799  46.801899  30.319340
10    2000-05-29  46.801899  47.884102  46.531399  46.801899  30.319340
11    2000-05-30  46.801899  46.801899  46.801899  46.801899  30.319340
12    2000-05-31  51.671501  51.671501  50.048302  50.589401  32.772968
13    2000-06-01  50.318802  50.589401  49.236698  49.236698  31.896654
14    2000-06-02  50.318802  50.859901  49.507301  49.507301  32.071960
15    2000-06-05  49.777802  50.048302  49.236698  49.777802  32.247192
16    2000-06-06  49.777802  49.777802  49.777802  49.777802  32.247192
17    2000-06-07  49.777802  50.859901  49.236698  50.859901  32.948196
18    2000-06-08  51.401001  51.942001  50.318802  50.589401  32.772968
19    2000-06-09  51.401001  51.401001  50.859901  51.130402  33.123436
20    2000-06-12  51.401001  51.671501  50.318802  50.318802  32.597668
21    2000-06-13  49.777802  50.318802  49.507301  49.777802  32.247192
22    2000-06-14  50.318802  50.589401  49.507301  49.777802  32.247192
23    2000-06-15  49.507301  49.777802  48.695702  48.966202  31.721420
24    2000-06-16  48.966202  48.966202  48.154598  48.425098  31.370884
25    2000-06-19  48.425098  48.695702  47.342999  47.613499  30.845116
26    2000-06-20  48.425098  48.425098  47.072399  47.072399  30.494577
27    2000-06-21  47.613499  47.884102  47.072399  47.072399  30.494577
28    2000-06-22  46.801899  48.695702  46.531399  48.425098  31.370884
29    2000-06-23  47.884102  48.425098  47.342999  47.342999  30.669872
...          ...        ...        ...        ...        ...        ...
4490  2018-03-27  15.200000  15.650000  15.150000  15.550000  15.550000
4491  2018-03-28  15.350000  15.500000  15.300000  15.400000  15.400000
4492  2018-03-29  15.350000  15.450000  15.200000  15.300000  15.300000
4493  2018-03-30  15.300000  15.450000  15.200000  15.400000  15.400000
4494  2018-04-02  15.500000  15.750000  15.400000  15.450000  15.450000
4495  2018-04-03  15.350000  15.450000  15.300000  15.400000  15.400000
4496  2018-04-09  15.300000  15.400000  15.200000  15.250000  15.250000
4497  2018-04-10  15.300000  15.400000  15.200000  15.300000  15.300000
4498  2018-04-11  15.350000  15.600000  15.300000  15.400000  15.400000
4499  2018-04-12  15.400000  15.500000  15.350000  15.450000  15.450000
4500  2018-04-13  15.400000  15.500000  15.400000  15.400000  15.400000
4501  2018-04-16  15.400000  15.450000  15.350000  15.350000  15.350000
4502  2018-04-17  15.350000  15.500000  15.300000  15.350000  15.350000
4503  2018-04-18  15.450000  15.600000  15.350000  15.600000  15.600000
4504  2018-04-19  15.650000  16.000000  15.600000  15.850000  15.850000
4505  2018-04-20  15.750000  15.800000  15.500000  15.600000  15.600000
4506  2018-04-23  15.550000  15.800000  15.500000  15.550000  15.550000
4507  2018-04-24  15.550000  15.650000  15.200000  15.350000  15.350000
4508  2018-04-25  15.300000  15.600000  15.300000  15.500000  15.500000
4509  2018-04-26  15.500000  15.850000  15.400000  15.700000  15.700000
4510  2018-04-27  15.700000  15.950000  15.600000  15.700000  15.700000
4511  2018-04-30  15.700000  16.100000  15.700000  16.000000  16.000000
4512  2018-05-02  16.000000  16.850000  16.000000  16.250000  16.250000
4513  2018-05-03  16.250000  16.250000  15.950000  16.049999  16.049999
4514  2018-05-04  16.000000  16.400000  15.950000  16.000000  16.000000
4515  2018-05-07  16.100000  16.150000  15.650000  15.650000  15.650000
4516  2018-05-08  15.800000  15.850000  15.650000  15.850000  15.850000
4517  2018-05-09  15.850000  16.549999  15.750000  16.200001  16.200001
4518  2018-05-10  16.350000  16.450001  15.950000  15.950000  15.950000
4519  2018-05-11  16.100000  16.200001  16.000000  16.150000  16.150000

            Volume stock_symbol
0      93891761998         2303
1     164745825961         2303
2        231459266         2303
3        116993220         2303
4         65075384         2303
5      88601543251         2303
6      68995445360         2303
7      78865837237         2303
8      73734986953         2303
9      76133603157         2303
10     58958700380         2303
11               0         2303
12       198036714         2303
13        63749716         2303
14       110559882         2303
15     56553509545         2303
16               0         2303
17    121034788557         2303
18       142517300         2303
19       104072890         2303
20        65053982         2303
21     63218371128         2303
22     86123848183         2303
23     77502390085         2303
24     74023272198         2303
25     56947177000         2303
26     46836080329         2303
27     68767118044         2303
28     88438108453         2303
29     54476336334         2303
...            ...          ...
4490      58111240         2303
4491      19099923         2303
4492      37000161         2303
4493      29931778         2303
4494      28643495         2303
4495      25663884         2303
4496      41328988         2303
4497      43686362         2303
4498      29420087         2303
4499      24395100         2303
4500      19916291         2303
4501      16106002         2303
4502      33941740         2303
4503      43266308         2303
4504      57239731         2303
4505      34122407         2303
4506      20121592         2303
4507      57837166         2303
4508      50347727         2303
4509      79246861         2303
4510      45414790         2303
4511      60872336         2303
4512     105765858         2303
4513      53928795         2303
4514      49075125         2303
4515      41618961         2303
4516      25284222         2303
4517      48096224         2303
4518      23378264         2303
4519      31393160         2303

[4520 rows x 8 columns]
            Date       Open       High        Low      Close  Adj Close  \
0     2001-12-20  30.458700  30.548500  28.841400  29.290600  14.828314
1     2001-12-21  28.302299  29.739901  27.853001  28.122601  14.237012
2     2001-12-24  28.302299  28.571800  26.954599  26.954599  13.645719
3     2001-12-25  27.134300  28.392099  27.134300  28.212400  14.282479
4     2001-12-26  28.212400  28.392099  27.044399  27.313900  13.827612
5     2001-12-27  27.313900  28.032700  27.224100  27.673300  14.009559
6     2001-12-28  27.853001  27.853001  26.145901  26.145901  13.236315
7     2001-12-31  26.595200  27.763201  26.505301  27.313900  13.827612
8     2002-01-01       null       null       null       null       null
9     2002-01-02  27.583500  27.763201  26.954599  27.224100  13.782152
10    2002-01-03       null       null       null       null       null

            Date         Open         High          Low        Close  \
0     2002-03-11    96.197701    96.197701    96.197701    96.197701
1     2002-03-12   102.787003   102.787003   102.787003   102.787003
2     2002-03-13   109.815002   109.815002   109.815002   109.815002
3     2002-03-14   117.281998   117.281998   117.281998   117.281998
4     2002-03-15   118.161003   125.189003   118.161003   125.189003
5     2002-03-18   133.535004   133.535004   133.535004   133.535004
6     2002-03-19   140.123993   140.123993   128.264008   128.264008
7     2002-03-20   126.067001   133.095993   119.917999   131.337997
8     2002-03-21   128.264008   136.169998   128.264008   133.535004
9     2002-03-22   136.169998   142.320007   134.412994   135.292007
10    2002-03-25   135.731003   138.367004   133.973999   134.412994
11    2002-03-26   133.535004   138.806000   132.216995   137.048996
12    2002-03-27   138.367004   138.367004   129.141998   132.216995
13    2002-03-28   132.216995   132.216995   128.264008   129.141998
14    2002-03-29   129.580994   131.337997   126.507004   127.823997
15    2002-04-01   128.264008   128.264008   125.189003   125.189003
16    2002-04-02   125.189003   129.580994   125.189003   126.945999
17    2002-04-03   126.945999   127.385002   122.553001   122.992996
18    2002-04-04   122.553001   122.992996   115.963997   118.599998
19    2002-04-05         null         null         null         null
20    2002-04-08   114.207001   120.795998   114.207001   120.357002
21    2002-04-09   119.917999   119.917999   117.721001   117.721001
22    2002-04-10   117.721001   120.795998   117.281998   120.795998
23    2002-04-11   122.992996   125.189003   122.113998   124.750000
24    2002-04-12   123.871002   127.385002   121.675003   127.385002
25    2002-04-15   125.189003   125.627998   119.477997   119.477997
26    2002-04-16   119.917999   123.431999   119.477997   121.235001
27    2002-04-17   122.992996   123.871002   120.795998   120.795998
28    2002-04-18   120.795998   122.113998   116.403999   117.281998
29    2002-04-19   118.599998   122.113998   118.161003   120.795998
...          ...          ...          ...          ...          ...
4015  2018-03-27  3580.000000  3600.000000  3420.000000  3420.000000
4016  2018-03-28  3345.000000  3405.000000  3315.000000  3365.000000
4017  2018-03-29  3415.000000  3415.000000  3315.000000  3315.000000
4018  2018-03-30  3365.000000  3390.000000  3330.000000  3330.000000
4019  2018-04-02  3330.000000  3385.000000  3180.000000  3185.000000
4020  2018-04-03  3065.000000  3195.000000  3005.000000  3185.000000
4021  2018-04-09  3140.000000  3225.000000  3000.000000  3000.000000
4022  2018-04-10  3005.000000  3250.000000  3000.000000  3250.000000
4023  2018-04-11  3340.000000  3350.000000  3210.000000  3230.000000
4024  2018-04-12  3270.000000  3345.000000  3215.000000  3300.000000
4025  2018-04-13  3380.000000  3525.000000  3230.000000  3460.000000
4026  2018-04-16  3430.000000  3575.000000  3390.000000  3550.000000
4027  2018-04-17  3525.000000  3645.000000  3475.000000  3580.000000
4028  2018-04-18  3540.000000  3625.000000  3525.000000  3525.000000
4029  2018-04-19  3465.000000  3515.000000  3455.000000  3490.000000
4030  2018-04-20  3410.000000  3455.000000  3370.000000  3420.000000
4031  2018-04-23  3420.000000  3450.000000  3255.000000  3255.000000
4032  2018-04-24  3270.000000  3315.000000  3220.000000  3220.000000
4033  2018-04-25  3225.000000  3310.000000  3225.000000  3250.000000
4034  2018-04-26  3280.000000  3350.000000  3280.000000  3295.000000
4035  2018-04-27  3340.000000  3370.000000  3240.000000  3265.000000
4036  2018-04-30  3300.000000  3500.000000  3270.000000  3480.000000
4037  2018-05-02  3560.000000  3720.000000  3535.000000  3700.000000
4038  2018-05-03  3800.000000  3830.000000  3680.000000  3685.000000
4039  2018-05-04  3685.000000  3735.000000  3630.000000  3640.000000
4040  2018-05-07  3870.000000  4000.000000  3870.000000  4000.000000
4041  2018-05-08  4020.000000  4070.000000  3975.000000  3990.000000
4042  2018-05-09  4065.000000  4165.000000  3990.000000  4000.000000
4043  2018-05-10  4090.000000  4095.000000  3980.000000  3980.000000
4044  2018-05-11  4025.000000  4080.000000  4000.000000  4075.000000

        Adj Close       Volume stock_symbol
0       69.937889      2276410         3008
1       74.728447      2276410         3008
2       79.837952      2276410         3008
3       85.266632      2276410         3008
4       91.015205     13658461         3008
5       97.082939    407504321         3008
6       93.250809  11155535370         3008
7       95.485657   5324648002         3008
8       97.082939   3000506819         3008
9       98.360321   3998769312         3008
10      97.721245   2260975048         3008
11      99.637688   3090109325         3008
12      96.124710   3055793291         3008
13      93.889114   2010935173         3008
14      92.930893   2690106681         3008
15      91.015205    896963656         3008
16      92.292557    960252955         3008
17      89.418663   1131222969         3008
18      86.224861   1797571266         3008
19           null         null         3008
20      87.502235    852798750         3008
21      85.585800    469421829         3008
22      87.821381    401848687         3008
23      90.696037    839024203         3008
24      92.611748    689917920         3008
25      86.863167   1052909079         3008
26      88.140564   1023243547         3008
27      87.821381    424805322         3008
28      85.266632   1070552673         3008
29      87.821381    840278494         3008
...           ...          ...          ...
4015  3420.000000       757064         3008
4016  3365.000000       905614         3008
4017  3315.000000       570705         3008
4018  3330.000000       498897         3008
4019  3185.000000       590894         3008
4020  3185.000000      1694284         3008
4021  3000.000000      1208694         3008
4022  3250.000000      1361490         3008
4023  3230.000000       678815         3008
4024  3300.000000       576497         3008
4025  3460.000000      2253756         3008
4026  3550.000000      1106510         3008
4027  3580.000000      1239636         3008
4028  3525.000000       892212         3008
4029  3490.000000       936684         3008
4030  3420.000000       823800         3008
4031  3255.000000       821004         3008
4032  3220.000000       845864         3008
4033  3250.000000       493376         3008
4034  3295.000000       565742         3008
4035  3265.000000       612516         3008
4036  3480.000000       670461         3008
4037  3700.000000      1491716         3008
4038  3685.000000      1483874         3008
4039  3640.000000       686563         3008
4040  4000.000000      1899026         3008
4041  3990.000000       836783         3008
4042  4000.000000      1055845         3008
4043  3980.000000       557109         3008
4044  4075.000000       759464         3008

[4045 rows x 8 columns]
            Date       Open       High        Low      Close  Adj Close  \
0     2000-05-15  17.066200  17.886600  16.902100  17.230301  10.302384
1     2000-05-16  17.722500  18.050699  17.394400  18.050699  10.792920
2     2000-05-17  18.214800  18.871201  17.558500  17.558500  10.498623
3     2000-05-18  17.066200  17.066200  16.409800  16.738001  10.008028
4     2000-05-19  16.573900  17.066200  16.573900  16.738001  10.008028
5     2000-05-22  16.048700  16.212900  15.753400  15.950300   9.537045
6     2000-05-23  16.081600  16.573900  15.753400  16.573900   9.909908
7     2000-05-24  16.245701  16.573900  15.950300  16.114401   9.635162
8     2000-05-25  16.311300  16.376900  15.753400  15.753400   9.419312
9     2000-05-26  15.687700  15.786200  15.490800  15.654900   9.360416
10    2000-05-29  15.654900  16.180000  15.654900  15.983100   9.556656
11    2000-05-30  15.983100  15.983100  15.983100  15.983100   9.556656
12    2000-05-31  16.409800  16.573900  16.114401  16.409800   9.811790
13    2000-06-01  16.311300  16.344101  15.983100  16.015900   9.576268
14    2000-06-02  16.409800  16.573900  15.950300  15.950300   9.537045
15    2000-06-05  16.015900  16.212900  15.851800  15.983100   9.556656
16    2000-06-06  15.983100  15.983100  15.983100  15.983100   9.556656
17    2000-06-07  16.015900  16.015900  15.228300  15.523600   9.281908
18    2000-06-08  15.523600  16.015900  15.523600  15.884700   9.497821
19    2000-06-09  15.983100  15.983100  15.589300  15.622100   9.340805
20    2000-06-12  15.851800  15.884700  15.654900  15.786200   9.438925
21    2000-06-13  15.917500  15.983100  15.523600  15.589300   9.321195
22    2000-06-14  15.622100  15.687700  15.261100  15.261100   9.124955
23    2000-06-15  15.261100  15.425200  14.703100  14.736000   8.810986
24    2000-06-16  14.736000  14.801600  13.784200  14.145200   8.457735
25    2000-06-19  13.652900  13.882700  12.996500  13.817000   8.261497
26    2000-06-20  13.915500  13.981100  13.259100  13.259100   7.927915
27    2000-06-21  13.259100  13.521600  13.226300  13.390400   8.006422
28    2000-06-22  13.554500  13.784200  13.488800  13.784200   8.241884
29    2000-06-23  13.784200  13.882700  13.488800  13.488800   8.065257
...          ...        ...        ...        ...        ...        ...
4490  2018-03-27  26.049999  26.150000  25.950001  26.100000  26.100000
4491  2018-03-28  26.049999  26.100000  25.799999  26.100000  26.100000
4492  2018-03-29  26.299999  26.299999  26.000000  26.250000  26.250000
4493  2018-03-30  26.250000  26.500000  26.150000  26.500000  26.500000
4494  2018-04-02  26.400000  26.549999  26.250000  26.350000  26.350000
4495  2018-04-03  26.299999  26.600000  26.200001  26.600000  26.600000
4496  2018-04-09  26.799999  27.049999  26.600000  27.049999  27.049999
4497  2018-04-10  26.900000  27.400000  26.850000  27.200001  27.200001
4498  2018-04-11  27.200001  27.200001  26.950001  27.000000  27.000000
4499  2018-04-12  27.049999  27.049999  26.700001  26.799999  26.799999
4500  2018-04-13  26.799999  26.950001  26.650000  26.650000  26.650000
4501  2018-04-16  26.650000  26.900000  26.500000  26.650000  26.650000
4502  2018-04-17  26.750000  26.750000  26.400000  26.500000  26.500000
4503  2018-04-18  26.750000  26.950001  26.650000  26.900000  26.900000
4504  2018-04-19  26.950001  27.200001  26.950001  27.200001  27.200001
4505  2018-04-20  27.150000  27.200001  26.950001  27.100000  27.100000
4506  2018-04-23  26.950001  27.150000  26.950001  27.150000  27.150000
4507  2018-04-24  26.950001  27.000000  26.700001  26.850000  26.850000
4508  2018-04-25  26.650000  27.200001  26.600000  27.200001  27.200001
4509  2018-04-26  27.350000  27.650000  26.900000  27.100000  27.100000
4510  2018-04-27  27.049999  27.250000  27.000000  27.200001  27.200001
4511  2018-04-30  27.299999  28.400000  27.299999  28.400000  28.400000
4512  2018-05-02  28.500000  28.650000  28.150000  28.600000  28.600000
4513  2018-05-03  28.350000  28.400000  27.950001  28.150000  28.150000
4514  2018-05-04  28.000000  28.100000  27.549999  27.700001  27.700001
4515  2018-05-07  27.950001  28.150000  27.799999  28.100000  28.100000
4516  2018-05-08  27.950001  28.400000  27.900000  28.400000  28.400000
4517  2018-05-09  28.400000  28.450001  28.250000  28.299999  28.299999
4518  2018-05-10  28.299999  28.450001  28.200001  28.200001  28.200001
4519  2018-05-11  28.400000  28.450001  28.250000  28.350000  28.350000

            Volume stock_symbol
0     137474519971         1402
1      68600646042         1402
2     155431283988         1402
3      60222098318         1402
4      34567953722         1402
5      47237118696         1402
6      35545601938         1402
7      38989437735         1402
8      28818890858         1402
9      22478602636         1402
10        28298394         1402
11               0         1402
12     51435777119         1402
13        20202221         1402
14     33575554673         1402
15        14110500         1402
16               0         1402
17        41062531         1402
18        34323647         1402
19     21602493197         1402
20     15739118290         1402
21        25880903         1402
22     29652149070         1402
23     53737025370         1402
24     51920182293         1402
25     61999666366         1402
26     42674864297         1402
27        34240496         1402
28     38710821868         1402
29     16282021547         1402
...            ...          ...
4490       3343774         1402
4491       3200705         1402
4492       4489039         1402
4493       5021842         1402
4494       2861453         1402
4495       5038044         1402
4496       7406116         1402
4497       8563974         1402
4498       4199696         1402
4499       3263504         1402
4500       2242589         1402
4501       3427599         1402
4502       4232900         1402
4503       3589670         1402
4504       4327887         1402
4505       3171631         1402
4506       2885271         1402
4507       3659176         1402
4508       5649807         1402
4509       8006514         1402
4510       3472987         1402
4511      16873330         1402
4512      13436694         1402
4513       6794298         1402
4514       4484516         1402
4515       6300707         1402
4516       6556382         1402
4517       6018581         1402
4518       5055325         1402
4519       3247878         1402

[4520 rows x 8 columns]
            Date       Open       High        Low      Close  Adj Close  \
0     2002-05-17   8.489810   8.769130   8.462220   8.658780   4.309318
1     2002-05-20   8.631190   8.658780   8.434640   8.548430   4.254400
2     2002-05-21   8.462220   8.489810   8.103600   8.103600   4.033015
3     2002-05-22   8.048420   8.186360   7.965660   8.103600   4.033015
4     2002-05-23   8.103600   8.131180   8.048420   8.103600   4.033015
5     2002-05-24   8.103600   8.434640   8.103600   8.351880   4.156580
6     2002-05-27   8.296700   8.548430   8.186360   8.489810   4.225225
7     2002-05-28   8.517400   8.548430   8.269120   8.324290   4.142848
8     2002-05-29   8.269120   8.379460   8.158770   8.379460   4.170306
9     2002-05-30   8.351880   8.658780   8.324290   8.658780   4.309318
10    2002-05-31   8.658780   8.741540   8.489810   8.741540   4.350507
11    2002-06-03   8.434640   8.548430   8.269120   8.379460   4.170306
12    2002-06-04   8.213940   8.379460   8.213940   8.324290   4.142848
13    2002-06-05   8.351880   8.434640   8.241530   8.241530   4.101661
14    2002-06-06   8.241530   8.296700   8.213940   8.213940   4.087929
15    2002-06-07   8.131180   8.434640   8.103600   8.269120   4.115392
16    2002-06-10   8.351880   8.379460   8.186360   8.241530   4.101661
17    2002-06-11   8.324290   8.517400   8.269120   8.269120   4.115392
18    2002-06-12   8.324290   8.407050   8.269120   8.351880   4.156580
19    2002-06-13   8.351880   8.879470   8.324290   8.796710   4.377964
20    2002-06-14   8.796710   9.158790   8.686370   8.907060   4.432882
21    2002-06-17   8.824300   8.962230   8.741540   8.796710   4.377964
22    2002-06-18   8.851890   8.879470   8.517400   8.576020   4.268130
23    2002-06-19   8.576020   8.658780   8.462220   8.658780   4.309318
24    2002-06-20   8.517400   8.769130   8.489810   8.741540   4.350507
25    2002-06-21   8.686370   8.934650   8.603610   8.658780   4.309318
26    2002-06-24   8.686370   8.769130   8.576020   8.576020   4.268130
27    2002-06-25   8.658780   8.713950   8.351880   8.379460   4.170306
28    2002-06-26   8.269120   8.379460   8.048420   8.213940   4.087929
29    2002-06-27   8.324290   8.379460   8.048420   8.048420   4.005552
...          ...        ...        ...        ...        ...        ...
3966  2018-03-27  21.200001  21.250000  21.049999  21.150000  21.150000
3967  2018-03-28  21.000000  21.049999  20.950001  21.000000  21.000000
3968  2018-03-29  21.000000  21.049999  20.900000  20.900000  20.900000
3969  2018-03-30  21.000000  21.250000  21.000000  21.200001  21.200001
3970  2018-04-02  21.150000  21.200001  21.049999  21.049999  21.049999
3971  2018-04-03  21.000000  21.049999  20.799999  20.900000  20.900000
3972  2018-04-09  21.250000  21.250000  20.900000  21.000000  21.000000
3973  2018-04-10  21.000000  21.150000  20.950001  21.049999  21.049999
3974  2018-04-11  21.100000  21.500000  21.100000  21.500000  21.500000
3975  2018-04-12  21.500000  21.549999  21.400000  21.400000  21.400000
3976  2018-04-13  21.549999  21.650000  21.450001  21.600000  21.600000
3977  2018-04-16  21.450001  21.549999  21.250000  21.549999  21.549999
3978  2018-04-17  21.350000  21.450001  21.100000  21.100000  21.100000
3979  2018-04-18  21.200001  21.500000  21.200001  21.500000  21.500000
3980  2018-04-19  21.500000  21.700001  21.450001  21.700001  21.700001
3981  2018-04-20  21.549999  21.700001  21.450001  21.549999  21.549999
3982  2018-04-23  21.500000  21.500000  21.350000  21.350000  21.350000
3983  2018-04-24  21.350000  21.400000  21.200001  21.299999  21.299999
3984  2018-04-25  21.200001  21.400000  21.150000  21.400000  21.400000
3985  2018-04-26  21.400000  21.400000  21.200001  21.250000  21.250000
3986  2018-04-27  21.299999  21.350000  21.150000  21.350000  21.350000
3987  2018-04-30  21.299999  21.400000  21.250000  21.250000  21.250000
3988  2018-05-02  21.250000  21.299999  21.100000  21.150000  21.150000
3989  2018-05-03  21.100000  21.200001  21.000000  21.100000  21.100000
3990  2018-05-04  21.100000  21.200001  21.000000  21.049999  21.049999
3991  2018-05-07  21.150000  21.150000  21.049999  21.100000  21.100000
3992  2018-05-08  21.049999  21.350000  21.049999  21.350000  21.350000
3993  2018-05-09  21.400000  21.500000  21.350000  21.450001  21.450001
3994  2018-05-10  21.500000  21.549999  21.400000  21.450001  21.450001
3995  2018-05-11  21.549999  21.950001  21.450001  21.950001  21.950001

        Volume stock_symbol
0     14660424         2891
1     35629045         2891
2     14106056         2891
3     20568008         2891
4     18858086         2891
5     15178082         2891
6      9861044         2891
7     12943586         2891
8     16899174         2891
9     11945511         2891
10     6722109         2891
11    18215400         2891
12     8762950         2891
13    10719730         2891
14     9027364         2891
15    10787295         2891
16    17941410         2891
17    11204403         2891
18    17443967         2891
19    20293481         2891
20    15087105         2891
21    13151074         2891
22     9773259         2891
23    20230172         2891
24    28506320         2891
25    21134611         2891
26    20199314         2891
27    13889522         2891
28     8879994         2891
29     5134020         2891
...        ...          ...
3966  33825955         2891
3967  38874098         2891
3968  30623817         2891
3969  14518345         2891
3970  14808453         2891
3971  44706820         2891
3972  41892467         2891
3973  31167250         2891
3974  28458650         2891
3975  24542307         2891
3976  29725161         2891
3977  21401488         2891
3978  33051004         2891
3979  26377243         2891
3980  41850385         2891
3981  38183419         2891
3982  20165863         2891
3983  21050219         2891
3984  24647719         2891
3985  26582510         2891
3986  21621205         2891
3987  31422315         2891
3988  44105413         2891
3989  36006991         2891
3990  37194295         2891
3991  18714016         2891
3992  33676182         2891
3993  32401043         2891
3994  29948388         2891
3995  77172644         2891

[3996 rows x 8 columns]
            Date       Open       High        Low      Close  Adj Close  \
0     2000-05-15  30.848499  31.080601  29.705900  29.938101  12.287688
1     2000-05-16  30.164200  31.990999  29.705900  31.990999  13.130271

            Date       Open       High        Low      Close  Adj Close  \
0     2000-05-15  11.773800  11.773800  11.555600  11.610200   5.173871
1     2000-05-16  11.610200  11.664700  11.446500  11.555600   5.149539
2     2000-05-17  11.664700  11.991900  11.664700  11.991900   5.343968
3     2000-05-18  11.937400  12.319200  11.882800  11.882800   5.295350
4     2000-05-19  11.991900  12.210100  11.882800  11.991900   5.343968
5     2000-05-22  11.773800  11.882800  11.555600  11.555600   5.149539
6     2000-05-23  11.555600  11.664700  11.446500  11.446500   5.100920
7     2000-05-24  11.555600  11.555600  11.337500  11.337500   5.052346
8     2000-05-25  11.446500  11.555600  11.337500  11.337500   5.052346
9     2000-05-26  11.337500  11.664700  11.337500  11.555600   5.149539
10    2000-05-29  11.610200  11.664700  11.501100  11.610200   5.173871
11    2000-05-30  11.610200  11.610200  11.610200  11.610200   5.173871
12    2000-05-31  11.664700  11.719200  11.446500  11.555600   5.149539
13    2000-06-01  11.555600  11.610200  11.392000  11.392000   5.076634
14    2000-06-02  11.446500  11.555600  11.337500  11.337500   5.052346
15    2000-06-05  11.446500  11.501100  11.337500  11.337500   5.052346
16    2000-06-06  11.337500  11.337500  11.337500  11.337500   5.052346
17    2000-06-07  11.337500  11.446500  11.337500  11.337500   5.052346
18    2000-06-08  11.446500  11.501100  11.337500  11.392000   5.076634
19    2000-06-09  11.392000  11.392000  11.119300  11.173800   4.979397
20    2000-06-12  11.173800  11.173800  10.901100  10.955700   4.882205
21    2000-06-13  10.955700  11.119300  10.846600  10.846600   4.833587
22    2000-06-14  10.955700  10.955700  10.792100  10.792100   4.809299
23    2000-06-15  10.901100  10.901100  10.792100  10.846600   4.833587
24    2000-06-16  10.846600  10.901100  10.792100  10.792100   4.809299
25    2000-06-19  10.792100  11.010200  10.792100  10.846600   4.833587
26    2000-06-20  10.901100  10.955700  10.846600  10.901100   4.857873
27    2000-06-21  10.955700  10.955700  10.846600  10.846600   4.833587
28    2000-06-22  10.792100  10.955700  10.792100  10.955700   4.882205
29    2000-06-23  10.955700  11.173800  10.901100  11.119300   4.955111
...          ...        ...        ...        ...        ...        ...
4490  2018-03-27  25.250000  25.400000  25.250000  25.400000  25.400000
4491  2018-03-28  25.250000  25.299999  25.049999  25.049999  25.049999
4492  2018-03-29  25.100000  25.150000  25.000000  25.049999  25.049999
4493  2018-03-30  25.150000  25.250000  25.100000  25.100000  25.100000
4494  2018-04-02  25.299999  25.400000  25.299999  25.350000  25.350000
4495  2018-04-03  25.299999  25.350000  25.150000  25.250000  25.250000
4496  2018-04-09  25.400000  25.450001  25.200001  25.450001  25.450001
4497  2018-04-10  25.299999  25.700001  25.299999  25.650000  25.650000
4498  2018-04-11  25.600000  25.650000  25.450001  25.500000  25.500000
4499  2018-04-12  25.500000  25.650000  25.500000  25.650000  25.650000
4500  2018-04-13  25.600000  25.650000  25.500000  25.600000  25.600000
4501  2018-04-16  25.549999  25.650000  25.500000  25.650000  25.650000
4502  2018-04-17  25.600000  25.600000  25.299999  25.350000  25.350000
4503  2018-04-18  25.549999  25.549999  25.200001  25.200001  25.200001
4504  2018-04-19  25.250000  25.750000  25.250000  25.750000  25.750000
4505  2018-04-20  25.650000  25.750000  25.549999  25.700001  25.700001
4506  2018-04-23  25.700001  25.850000  25.650000  25.799999  25.799999
4507  2018-04-24  25.799999  26.049999  25.750000  25.900000  25.900000
4508  2018-04-25  25.850000  26.000000  25.700001  26.000000  26.000000
4509  2018-04-26  26.000000  26.000000  25.750000  25.950001  25.950001
4510  2018-04-27  25.900000  26.000000  25.799999  26.000000  26.000000
4511  2018-04-30  26.000000  26.250000  25.950001  26.250000  26.250000
4512  2018-05-02  26.200001  26.250000  26.150000  26.250000  26.250000
4513  2018-05-03  26.200001  26.250000  26.000000  26.100000  26.100000
4514  2018-05-04  25.950001  26.000000  25.799999  25.799999  25.799999
4515  2018-05-07  25.850000  26.100000  25.799999  26.000000  26.000000
4516  2018-05-08  26.000000  26.250000  25.950001  26.200001  26.200001
4517  2018-05-09  26.100000  26.299999  26.000000  26.150000  26.150000
4518  2018-05-10  26.150000  26.200001  26.049999  26.100000  26.100000
4519  2018-05-11  26.150000  26.400000  26.150000  26.400000  26.400000

           Volume stock_symbol
0      5590702079         2886
1      7443477556         2886
2     14214679261         2886
3     19053766665         2886
4     13250410897         2886
5      5274950017         2886
6      5839144708         2886
7      6977125623         2886
8      5692456846         2886
9      8973735997         2886
10     7195844612         2886
11              0         2886
12     8253713690         2886
13     7532004540         2886
14     8726840864         2886
15     8175761011         2886
16              0         2886
17     5374950467         2886
18     4197289138         2886
19     7731921831         2886
20    11981445894         2886
21     7392234201         2886
22     6174219189         2886
23     3623964961         2886
24     5591872602         2886
25     5689351588         2886
26     5680113556         2886
27     7520202507         2886
28     9215520729         2886
29    15155258482         2886
...           ...          ...
4490     13554879         2886
4491     16321035         2886
4492     21503818         2886
4493     11282561         2886
4494      8377405         2886
4495     14010709         2886
4496     13167625         2886
4497     18467685         2886
4498     11945214         2886
4499     13654759         2886
4500     10497456         2886
4501      8831509         2886
4502     13890083         2886
4503     16883750         2886
4504     19284165         2886
4505     10667746         2886
4506     16581418         2886
4507     25386581         2886
4508     14881966         2886
4509     12780245         2886
4510     12290498         2886
4511     15046060         2886
4512     17769693         2886
4513     15251932         2886
4514     17677058         2886
4515     10740704         2886
4516     15311186         2886
4517     15215879         2886
4518     12565763         2886
4519     14086090         2886

[4520 rows x 8 columns]
            Date        Open        High         Low       Close   Adj Close  \
0     2000-11-15   96.175301   96.175301   90.772202   91.852898   34.886127
1     2000-11-16   90.772202   94.014099   89.691597   92.393204   35.091343
2     2000-11-17   90.772202   95.635002   90.232002   95.635002   36.322582
3     2000-11-20   96.175301   96.715698   93.473801   94.554398   35.912163
4     2000-11-21   94.554398  101.038002   94.554398  101.038002   38.374668
5     2000-11-22  101.579002  102.658997   98.336601   98.336601   37.348667
6     2000-11-23   97.255997   99.417198   96.175301   99.417198   37.759083
7     2000-11-24  100.498001  101.579002   98.336601  101.579002   38.580139
8     2000-11-27  102.119003  102.658997   99.417198   99.957497   37.964294
9     2000-11-28   98.876900  102.658997   98.336601  102.658997   38.990334
10    2000-11-29  101.579002  104.820000  101.038002  104.820000   39.811089
11    2000-11-30  104.279999  105.901001  102.658997  102.658997   38.990334
12    2000-12-01  102.119003  104.820000  101.579002  104.279999   39.605995
13    2000-12-04  101.579002  101.579002   99.417198   99.417198   37.759083
14    2000-12-05   97.255997   98.876900   96.175301   97.255997   36.938248
15    2000-12-06   99.417198   99.417198   94.554398   95.635002   36.322582
16    2000-12-07   94.014099   97.796204   94.014099   97.255997   36.938248
17    2000-12-08   97.255997   97.796204   96.175301   97.255997   36.938248
18    2000-12-11   97.255997   97.255997   94.554398   95.094704   36.117378
19    2000-12-12   96.175301   97.255997   95.094704   95.635002   36.322582
20    2000-12-13   95.094704   95.635002   93.473801   94.014099   35.706970
21    2000-12-14   92.933502   93.473801   91.852898   92.933502   35.296543
22    2000-12-15   91.312599   92.393204   91.312599   91.852898   34.886127
23    2000-12-18   93.473801   93.473801   91.312599   92.933502   35.296543
24    2000-12-19   93.473801   94.554398   91.852898   94.014099   35.706970
25    2000-12-20   94.014099   94.014099   91.852898   92.393204   35.091343
26    2000-12-21   90.772202   91.312599   89.691597   89.691597   34.065250
27    2000-12-22   88.070702   91.312599   86.990097   88.070702   33.449627
28    2000-12-25        null        null        null        null        null
29    2000-12-26   88.611000   88.611000   85.369102   85.369102   32.423557
...          ...         ...         ...         ...         ...         ...
4358  2018-03-27  111.000000  112.000000  111.000000  112.000000  112.000000
4359  2018-03-28  112.000000  112.500000  111.500000  112.500000  112.500000
4360  2018-03-29  112.500000  112.500000  111.500000  111.500000  111.500000
4361  2018-03-30  112.500000  113.000000  112.000000  113.000000  113.000000
4362  2018-04-02  112.500000  113.500000  112.000000  112.500000  112.500000
4363  2018-04-03  112.000000  112.500000  111.500000  112.000000  112.000000
4364  2018-04-09  112.500000  114.000000  112.000000  114.000000  114.000000
4365  2018-04-10  113.500000  114.500000  113.500000  114.500000  114.500000
4366  2018-04-11  114.500000  115.000000  113.500000  114.000000  114.000000
4367  2018-04-12  114.000000  115.000000  113.000000  114.000000  114.000000
4368  2018-04-13  113.500000  114.000000  112.500000  113.500000  113.500000
4369  2018-04-16  113.000000  113.500000  112.500000  113.000000  113.000000
4370  2018-04-17  113.000000  113.500000  112.500000  113.500000  113.500000
4371  2018-04-18  113.500000  114.500000  113.500000  114.500000  114.500000
4372  2018-04-19  114.000000  114.500000  113.500000  114.000000  114.000000
4373  2018-04-20  114.000000  114.500000  113.500000  113.500000  113.500000
4374  2018-04-23  113.000000  113.500000  112.500000  112.500000  112.500000
4375  2018-04-24  112.500000  112.500000  111.000000  111.000000  111.000000
4376  2018-04-25  111.000000  111.000000  110.000000  110.500000  110.500000
4377  2018-04-26  110.500000  112.000000  110.500000  111.500000  111.500000
4378  2018-04-27  112.500000  113.000000  112.000000  113.000000  113.000000
4379  2018-04-30  113.000000  113.000000  112.500000  113.000000  113.000000
4380  2018-05-02  112.500000  113.000000  112.000000  112.000000  112.000000
4381  2018-05-03  112.000000  112.000000  111.500000  111.500000  111.500000
4382  2018-05-04  111.000000  112.000000  111.000000  111.500000  111.500000
4383  2018-05-07  112.000000  112.500000  111.500000  112.000000  112.000000
4384  2018-05-08  111.500000  112.000000  111.000000  112.000000  112.000000
4385  2018-05-09  111.500000  111.500000  110.000000  110.000000  110.000000
4386  2018-05-10  109.500000  110.000000  108.500000  108.500000  108.500000
4387  2018-05-11  109.000000  109.500000  108.500000  109.000000  109.000000

           Volume stock_symbol
0      8635624517         2412
1     11072076989         2412
2      9967971831         2412
3      8434031535         2412
4        11907725         2412
5     11422985673         2412
6      3120145500         2412
7      6405061260         2412
8      6596098824         2412
9      5575356561         2412
10     7647493697         2412
11     5686248661         2412
12     4910210981         2412
13     4653801250         2412
14     6282061523         2412
15     7344175119         2412
16     3904001183         2412
17     1401080423         2412
18        4703928         2412
19     2464728918         2412
20     4092087716         2412
21     3327713123         2412
22     2225872785         2412
23     1525973009         2412
24     3507110695         2412
25     2096940472         2412
26     2077507219         2412
27        3505267         2412
28           null         2412
29     2334581716         2412
...           ...          ...
4358      8885548         2412
4359      9073181         2412
4360      7288039         2412
4361     11511978         2412
4362      9427823         2412
4363      9326331         2412
4364     10724224         2412
4365      9090722         2412
4366      8727997         2412
4367      8704790         2412
4368      6502240         2412
4369      4645198         2412
4370      6203423         2412
4371      4714981         2412
4372      6097516         2412
4373      4520810         2412
4374      7554015         2412
4375     10693712         2412
4376     14312485         2412
4377      9068999         2412
4378      4527149         2412
4379      5608229         2412
4380      7936955         2412
4381      6330420         2412
4382      4109722         2412
4383      4919754         2412
4384      7608487         2412
4385      9299608         2412
4386     16739475         2412
4387      8114287         2412

[4388 rows x 8 columns]
            Date       Open       High        Low      Close  Adj Close  \
0     2000-05-15  26.775801  26.775801  26.180799  26.180799  10.250458
1     2000-05-16  26.180799  26.775801  25.982500  26.577499  10.405775
2     2000-05-17  26.775801  27.569201  26.775801  27.370800  10.716377
3     2000-05-18  26.974100  27.172501  26.577499  26.775801  10.483414
4     2000-05-19  26.577499  26.974100  26.379101  26.577499  10.405775
5     2000-05-22  25.982500  26.379101  25.784100  26.180799  10.250458
6     2000-05-23  25.982500  26.180799  25.784100  25.784100  10.095140
7     2000-05-24  25.387400  25.784100  25.189100  25.387400   9.939822
8     2000-05-25  25.784100  25.784100  25.387400  25.387400   9.939822
9     2000-05-26  25.387400  25.982500  25.189100  25.784100  10.095140
10    2000-05-29  25.982500  26.379101  25.784100  25.982500  10.172818
11    2000-05-30  25.982500  25.982500  25.982500  25.982500  10.172818
12    2000-05-31  26.775801  26.974100  26.577499  26.775801  10.483414
13    2000-06-01  26.775801  26.974100  26.379101  26.577499  10.405775
14    2000-06-02  26.974100  27.370800  26.775801  27.172501  10.638736
15    2000-06-05  27.370800  27.370800  26.775801  27.172501  10.638736
16    2000-06-06  27.172501  27.172501  27.172501  27.172501  10.638736
17    2000-06-07  27.172501  27.370800  26.974100  27.370800  10.716377
18    2000-06-08  27.569201  28.164200  27.370800  27.767500  10.871691
19    2000-06-09  27.767500  27.965799  27.370800  27.370800  10.716377
20    2000-06-12  27.370800  27.569201  26.577499  26.577499  10.405775
21    2000-06-13  26.577499  26.974100  26.577499  26.577499  10.405775
22    2000-06-14  26.974100  27.172501  26.775801  26.974100  10.561054
23    2000-06-15  26.974100  27.172501  26.577499  26.775801  10.483414
24    2000-06-16  26.775801  27.172501  26.577499  26.775801  10.483414
25    2000-06-19  26.577499  26.775801  25.982500  25.982500  10.172818
26    2000-06-20  26.180799  26.379101  25.784100  25.784100  10.095140
27    2000-06-21  25.784100  25.982500  25.585800  25.585800  10.017501
28    2000-06-22  25.585800  25.982500  25.387400  25.982500  10.172818
29    2000-06-23  25.784100  26.180799  25.784100  25.784100  10.095140
...          ...        ...        ...        ...        ...        ...
4490  2018-03-27  83.000000  83.099998  82.599998  83.099998  83.099998
4491  2018-03-28  82.599998  82.900002  81.900002  82.500000  82.500000
4492  2018-03-29  82.099998  82.199997  81.300003  81.800003  81.800003
4493  2018-03-30  82.000000  82.300003  81.800003  82.099998  82.099998
4494  2018-04-02  82.000000  82.199997  81.000000  81.599998  81.599998
4495  2018-04-03  81.500000  81.599998  80.800003  81.300003  81.300003
4496  2018-04-09  82.900002  83.400002  81.900002  83.400002  83.400002
4497  2018-04-10  83.599998  83.900002  82.900002  83.800003  83.800003
4498  2018-04-11  84.500000  84.500000  83.500000  83.900002  83.900002
4499  2018-04-12  83.900002  84.900002  83.800003  84.800003  84.800003
4500  2018-04-13  84.800003  84.800003  83.900002  84.099998  84.099998
4501  2018-04-16  84.000000  84.000000  83.500000  83.800003  83.800003
4502  2018-04-17  84.000000  84.000000  82.000000  82.400002  82.400002
4503  2018-04-18  82.699997  83.000000  82.199997  82.900002  82.900002
4504  2018-04-19  83.099998  83.800003  82.599998  83.800003  83.800003
4505  2018-04-20  83.500000  83.599998  82.699997  83.000000  83.000000
4506  2018-04-23  82.500000  82.900002  81.699997  82.000000  82.000000
4507  2018-04-24  82.500000  82.500000  80.599998  80.900002  80.900002
4508  2018-04-25  80.599998  80.900002  80.199997  80.900002  80.900002
4509  2018-04-26  81.000000  81.400002  80.400002  81.000000  81.000000
4510  2018-04-27  81.000000  81.099998  80.300003  80.800003  80.800003
4511  2018-04-30  81.000000  81.599998  80.699997  81.599998  81.599998
4512  2018-05-02  81.099998  83.199997  81.099998  82.900002  82.900002
4513  2018-05-03  82.000000  82.599998  81.500000  81.699997  81.699997
4514  2018-05-04  81.300003  82.699997  81.300003  81.800003  81.800003
4515  2018-05-07  82.199997  82.500000  81.500000  82.500000  82.500000
4516  2018-05-08  81.900002  82.900002  81.900002  82.900002  82.900002
4517  2018-05-09  82.800003  83.300003  82.800003  83.000000  83.000000
4518  2018-05-10  83.400002  84.000000  83.300003  83.800003  83.800003
4519  2018-05-11  84.000000  85.000000  83.500000  85.000000  85.000000

           Volume stock_symbol
0        19380784         1303
1     19941741744         1303
2     41730534584         1303
3     26406315539         1303
4     14993635827         1303
5        29265507         1303
6        10213254         1303
7     17378188308         1303
8      8738039311         1303
9     16094730122         1303
10       12930156         1303
11              0         1303
12    24100942970         1303
13    17345627674         1303
14    39326169618         1303
15    16055820423         1303
16              0         1303
17    25222686732         1303
18    64982608542         1303
19       27232929         1303
20    22006038242         1303
21    16502332435         1303
22    16614389767         1303
23    13354571636         1303
24    15040748625         1303
25    18634734661         1303
26       21093992         1303
27    17967657659         1303
28    20531859674         1303
29       14944275         1303
...           ...          ...
4490      6306697         1303
4491      3892144         1303
4492      7298687         1303
4493      5411803         1303
4494      4891953         1303
4495      7477091         1303
4496      8915554         1303
4497      7642205         1303
4498      6893640         1303
4499      6184434         1303
4500      4560978         1303
4501      3252987         1303
4502      8464671         1303
4503      6488700         1303
4504      8339994         1303
4505      6419090         1303
4506      7793879         1303
4507      9627559         1303
4508      6451898         1303
4509      6459418         1303
4510      5183090         1303
4511      4523005         1303
4512      6676771         1303
4513      6818549         1303
4514      5504361         1303
4515      4206895         1303
4516      5952526         1303
4517      5709577         1303
4518      7907774         1303
4519      8638254         1303

[4520 rows x 8 columns]
            Date        Open        High         Low       Close   Adj Close  \
0     2011-12-28   20.155500   20.625000   20.119301   20.552799   17.289133
1     2011-12-29        null        null        null        null        null
2     2011-12-30        null        null        null        null        null
3     2012-01-02        null        null        null        null        null

            Date        Open        High         Low       Close   Adj Close  \
0     2000-05-15   28.155500   28.372101   27.722300   27.938900   10.714106
1     2000-05-16   27.938900   28.155500   27.722300   28.155500   10.797168
2     2000-05-17   28.155500   29.021799   28.155500   28.805201   11.046319
3     2000-05-18   28.588600   28.588600   28.155500   28.155500   10.797168
4     2000-05-19   28.155500   28.372101   27.938900   28.372101   10.880231
5     2000-05-22   27.938900   28.372101   27.938900   28.372101   10.880231
6     2000-05-23   28.155500   28.155500   27.722300   27.722300   10.631042
7     2000-05-24   27.505699   27.722300   26.856001   26.856001   10.298831
8     2000-05-25   27.289200   27.505699   26.856001   27.072599   10.381894
9     2000-05-26   27.072599   27.505699   26.856001   27.289200   10.464956
10    2000-05-29   27.505699   27.505699   27.072599   27.289200   10.464956
11    2000-05-30   27.289200   27.289200   27.289200   27.289200   10.464956
12    2000-05-31   27.938900   27.938900   27.505699   27.722300   10.631042
13    2000-06-01   27.722300   27.722300   27.289200   27.289200   10.464956
14    2000-06-02   27.505699   27.722300   27.289200   27.505699   10.547979
15    2000-06-05   27.289200   27.505699   27.072599   27.505699   10.904791
16    2000-06-06   27.505699   27.505699   27.505699   27.505699   10.904791
17    2000-06-07   27.505699   27.505699   27.072599   27.289200   10.818958
18    2000-06-08   27.289200   27.938900   27.289200   27.505699   10.904791
19    2000-06-09   27.289200   27.505699   27.072599   27.505699   10.904791
20    2000-06-12   27.072599   27.505699   26.856001   27.072599   10.733087
21    2000-06-13   26.856001   27.072599   26.639400   26.856001   10.647215
22    2000-06-14   26.856001   27.289200   26.856001   27.072599   10.733087
23    2000-06-15   26.856001   27.289200   26.639400   27.072599   10.733087
24    2000-06-16   27.072599   27.072599   26.639400   26.856001   10.647215
25    2000-06-19   26.856001   26.856001   26.206200   26.206200   10.389594
26    2000-06-20   26.422800   26.639400   25.989700   25.989700   10.303763
27    2000-06-21   25.989700   26.206200   25.989700   26.206200   10.389594
28    2000-06-22   26.206200   26.639400   25.989700   26.422800   10.475468
29    2000-06-23   26.422800   26.639400   26.422800   26.422800   10.475468
...          ...         ...         ...         ...         ...         ...
4490  2018-03-27  104.000000  105.000000  103.500000  105.000000  105.000000
4491  2018-03-28  104.000000  105.000000  103.000000  103.000000  103.000000
4492  2018-03-29  103.000000  104.000000  102.500000  103.000000  103.000000
4493  2018-03-30  104.000000  104.000000  102.500000  103.500000  103.500000
4494  2018-04-02  104.000000  104.000000  102.500000  102.500000  102.500000
4495  2018-04-03  102.500000  103.000000  101.500000  102.000000  102.000000
4496  2018-04-09  103.500000  105.000000  103.000000  105.000000  105.000000
4497  2018-04-10  105.500000  105.500000  104.000000  105.500000  105.500000
4498  2018-04-11  105.500000  106.000000  104.500000  105.500000  105.500000
4499  2018-04-12  105.500000  106.500000  105.000000  106.500000  106.500000
4500  2018-04-13  106.500000  107.000000  106.000000  106.500000  106.500000
4501  2018-04-16  106.000000  108.000000  105.000000  107.500000  107.500000
4502  2018-04-17  107.500000  107.500000  105.000000  106.000000  106.000000
4503  2018-04-18  106.000000  107.000000  105.500000  106.000000  106.000000
4504  2018-04-19  105.000000  106.500000  105.000000  105.500000  105.500000
4505  2018-04-20  105.500000  106.500000  105.500000  106.500000  106.500000
4506  2018-04-23  106.500000  106.500000  105.000000  105.500000  105.500000
4507  2018-04-24  105.500000  105.500000  103.500000  104.000000  104.000000
4508  2018-04-25  103.000000  103.000000  101.500000  103.000000  103.000000
4509  2018-04-26  103.000000  104.500000  103.000000  104.000000  104.000000
4510  2018-04-27  104.500000  105.000000  103.500000  104.500000  104.500000
4511  2018-04-30  105.500000  106.000000  104.000000  104.500000  104.500000
4512  2018-05-02  104.000000  106.000000  104.000000  105.500000  105.500000
4513  2018-05-03  105.000000  105.500000  104.000000  104.500000  104.500000
4514  2018-05-04  104.500000  106.500000  104.500000  105.000000  105.000000
4515  2018-05-07  105.500000  106.000000  105.000000  105.500000  105.500000
4516  2018-05-08  105.000000  106.000000  105.000000  105.500000  105.500000
4517  2018-05-09  105.500000  106.500000  105.000000  105.500000  105.500000
4518  2018-05-10  106.000000  106.500000  105.500000  106.000000  106.000000
4519  2018-05-11  106.500000  108.500000  106.000000  108.500000  108.500000

           Volume stock_symbol
0     10982731097         1301
1      7490581815         1301
2     28430249460         1301
3     12122397744         1301
4     11616108081         1301
5     18351136621         1301
6      7444108151         1301
7        19767340         1301
8         6780816         1301
9        14268911         1301
10        7294100         1301
11              0         1301
12    14985024815         1301
13       10942659         1301
14       11492258         1301
15       11489950         1301
16              0         1301
17       17659277         1301
18    21197015863         1301
19       13068069         1301
20        7238539         1301
21       11134357         1301
22       13432940         1301
23        7064712         1301
24        7576561         1301
25        7680744         1301
26    12221701843         1301
27       11774209         1301
28     7829498968         1301
29     4958567704         1301
...           ...          ...
4490      4117006         1301
4491      3673021         1301
4492      5704137         1301
4493      5408535         1301
4494      4305063         1301
4495      6155163         1301
4496      6874298         1301
4497      5144973         1301
4498      4165952         1301
4499      4719478         1301
4500      6443152         1301
4501      6431590         1301
4502      7215505         1301
4503      4491930         1301
4504      8085060         1301
4505      6013248         1301
4506      4598371         1301
4507      7080016         1301
4508      7722581         1301
4509      5393699         1301
4510      4604564         1301
4511      5725021         1301
4512      3830653         1301
4513      4754570         1301
4514      6177324         1301
4515      3121908         1301
4516      4950698         1301
4517      4880716         1301
4518      5361742         1301
4519      8643455         1301

[4520 rows x 8 columns]
            Date       Open       High        Low      Close  Adj Close  \
0     2005-08-24  50.250500  50.250500  49.755402  50.126701  26.163982
1     2005-08-25  50.126701  50.188599  49.012798  49.012798  25.582575
2     2005-08-26  49.384102  49.879200  49.260300  49.507801  25.840942
3     2005-08-29  49.507801  50.126701  49.507801  49.941002  26.067055
4     2005-08-30  50.126701  52.106998  50.126701  50.745499  26.486965
5     2005-08-31  50.807400  51.426300  50.745499  50.993099  26.616205
6     2005-09-01       null       null       null       null       null
7     2005-09-02  50.002899  50.745499  49.445999  49.507801  25.840942
8     2005-09-05  49.631599  49.879200  49.260300  49.260300  25.711754
9     2005-09-06  49.012798  49.631599  49.012798  49.322201  25.744068
10    2005-09-07  49.507801  50.869301  48.332001  50.869301  26.551586
11    2005-09-08  49.631599  49.631599  48.579601  49.322201  25.744068
12    2005-09-09  49.322201  49.445999  49.012798  49.384102  25.776375
13    2005-09-12  49.445999  49.445999  48.765202  49.260300  25.711754
14    2005-09-13  49.260300  49.384102  48.393902  48.950901  25.550259
15    2005-09-14  48.889000  48.889000  48.270100  48.455799  25.291838
16    2005-09-15  48.393902  48.579601  47.279999  48.270100  25.194916
17    2005-09-16  48.022598  49.322201  47.589401  49.260300  25.711754
18    2005-09-19  49.260300  49.260300  48.579601  48.765202  25.453339
19    2005-09-20  48.517700  48.517700  47.836899  48.022598  25.065729
20    2005-09-21  48.270100  48.270100  47.527500  47.836899  24.968803
21    2005-09-22  47.156200  47.960701  46.042301  46.351700  24.193598
22    2005-09-23  44.804600  46.104198  44.804600  46.042301  24.032103
23    2005-09-26  46.413601  47.032501  46.166100  46.723000  24.387396
24    2005-09-27  46.413601  47.341900  46.413601  46.970600  24.516630
25    2005-09-28  47.032501  47.032501  46.042301  46.784901  24.419706
26    2005-09-29  47.032501  47.032501  46.413601  46.661098  24.355087
27    2005-09-30  46.413601  47.218102  46.413601  46.537399  24.290522
28    2005-10-03  47.032501  47.403801  46.908699  47.156200  24.613506
29    2005-10-04  47.094299  47.341900  46.784901  47.094299  24.581198
...          ...        ...        ...        ...        ...        ...
3113  2018-03-27  75.599998  76.300003  75.199997  76.099998  76.099998
3114  2018-03-28  76.199997  76.699997  75.900002  76.199997  76.199997
3115  2018-03-29  76.199997  77.199997  75.800003  77.000000  77.000000
3116  2018-03-30  77.000000  78.000000  76.699997  78.000000  78.000000
3117  2018-04-02  78.199997  78.400002  77.199997  77.400002  77.400002
3118  2018-04-03  77.000000  77.199997  76.800003  76.800003  76.800003
3119  2018-04-09  77.000000  78.199997  76.500000  78.199997  78.199997
3120  2018-04-10  77.400002  78.599998  77.400002  78.599998  78.599998
3121  2018-04-11  78.000000  78.599998  77.699997  78.599998  78.599998
3122  2018-04-12  78.000000  78.500000  77.199997  78.199997  78.199997
3123  2018-04-13  77.400002  78.500000  77.400002  78.300003  78.300003
3124  2018-04-16  78.199997  78.500000  77.699997  78.099998  78.099998
3125  2018-04-17  78.000000  78.199997  77.699997  78.000000  78.000000
3126  2018-04-18  78.000000  78.699997  78.000000  78.099998  78.099998
3127  2018-04-19  77.699997  78.599998  77.699997  78.199997  78.199997
3128  2018-04-20  78.000000  78.500000  77.500000  77.699997  77.699997
3129  2018-04-23  77.699997  78.099998  77.699997  78.000000  78.000000
3130  2018-04-24  77.500000  78.199997  77.500000  77.599998  77.599998
3131  2018-04-25  77.500000  78.400002  77.099998  77.400002  77.400002
3132  2018-04-26  77.199997  78.400002  77.099998  77.599998  77.599998
3133  2018-04-27  77.500000  78.500000  77.400002  77.699997  77.699997
3134  2018-04-30  77.699997  79.000000  77.699997  78.400002  78.400002
3135  2018-05-02  78.099998  78.800003  77.699997  77.800003  77.800003
3136  2018-05-03  77.500000  77.800003  77.300003  77.300003  77.300003
3137  2018-05-04  77.000000  77.900002  76.800003  77.099998  77.099998
3138  2018-05-07  77.800003  77.900002  76.699997  76.699997  76.699997
3139  2018-05-08  77.000000  77.199997  76.400002  76.900002  76.900002
3140  2018-05-09  76.800003  76.800003  74.800003  75.000000  75.000000
3141  2018-05-10  74.900002  75.000000  74.199997  74.400002  74.400002
3142  2018-05-11  74.400002  75.900002  74.400002  75.000000  75.000000

        Volume stock_symbol
0      4170652         4904
1      3178473         4904
2      3714569         4904
3      5775305         4904
4      9777693         4904
5      3475904         4904
6         null         4904
7      3646579         4904
8      2325232         4904
9      1077702         4904
10     4822720         4904
11     7323549         4904
12     1756384         4904
13     1762585         4904
14     2803568         4904
15     1787888         4904
16     5932502         4904
17     5828670         4904
18     2111575         4904
19     4826146         4904
20     3361164         4904
21    10519938         4904
22     7152308         4904
23     1726373         4904
24     1766782         4904
25     4696878         4904
26     7654883         4904
27     4417403         4904
28     4071542         4904
29     1556876         4904
...        ...          ...
3113   3234608         4904
3114   2394953         4904
3115   3094149         4904
3116   2554684         4904
3117   1781935         4904
3118   3258917         4904
3119   3343757         4904
3120   2835520         4904
3121   2452494         4904
3122   2487455         4904
3123   2172677         4904
3124   2039821         4904
3125   2500173         4904
3126   2426697         4904
3127   3608415         4904
3128   2528700         4904
3129   1977428         4904
3130   2162488         4904
3131   3165427         4904
3132   3569818         4904
3133   3170290         4904
3134   4747790         4904
3135   4285848         4904
3136   4732054         4904
3137   4873858         4904
3138   3473425         4904
3139   3830914         4904
3140   8033759         4904
3141   8051205         4904
3142   5337259         4904

[3143 rows x 8 columns]
            Date       Open       High        Low      Close  Adj Close  \
0     2007-12-31  19.500000  20.000000  19.375000  19.750000  18.513683
1     2008-01-02  19.500000  20.000000  19.500000  19.950001  18.701166
2     2008-01-03  19.950001  20.000000  19.500000  19.825001  18.583990
3     2008-01-04  19.750000  20.000000  19.750000  19.950001  18.701166
4     2008-01-07  20.000000  20.000000  19.500000  19.950001  18.701166
5     2008-01-08  19.750000  20.000000  19.750000  19.825001  18.583990
6     2008-01-09  19.875000  20.000000  19.500000  19.900000  18.654293
7     2008-01-10  19.950001  20.250000  19.950001  20.125000  18.865210
8     2008-01-11  20.125000  21.750000  19.750000  20.250000  18.982386
9     2008-01-14  20.500000  21.250000  20.375000  20.875000  19.568260
10    2008-01-15  20.875000  21.500000  20.250000  21.500000  20.154139
11    2008-01-16  21.250000  21.750000  20.000000  21.000000  19.685436
12    2008-01-17  18.900000  21.500000  18.900000  21.000000  19.685436
13    2008-01-18  21.000000  22.500000  20.000000  21.424999  20.083832
14    2008-01-21  21.625000  22.000000  21.250000  21.325001  19.990093
15    2008-01-22  17.500000  21.549999  17.500000  20.049999  18.794903
16    2008-01-23  25.000000  20.750000  20.000000  20.250000  18.982386
17    2008-01-24  20.750000  21.375000  20.250000  21.000000  19.685436
18    2008-01-25  20.875000  21.250000  20.500000  21.000000  19.685436
19    2008-01-28  21.000000  21.250000  20.500000  20.750000  19.451086
20    2008-01-29  21.250000  21.500000  20.000000  21.500000  20.154139
21    2008-01-30  20.750000  21.625000  20.000000  21.500000  20.154139
22    2008-01-31  21.750000  22.250000  20.000000  21.750000  20.388489
23    2008-02-01  21.500000  24.500000  21.500000  22.500000  21.091539
24    2008-02-12  22.500000  25.000000  22.500000  24.250000  22.731993
25    2008-02-13  24.250000  25.000000  23.500000  23.750000  22.263292
26    2008-02-14  24.275000  25.000000  22.500000  24.000000  22.497643
27    2008-02-15  22.500000  24.049999  22.500000  22.625000  21.208715
28    2008-02-18  22.750000  23.250000  22.500000  22.674999  21.255583
29    2008-02-19  22.500000  23.125000  22.500000  22.725000  21.302456
...          ...        ...        ...        ...        ...        ...
2529  2018-03-27  22.650000  22.700001  22.549999  22.549999  22.549999
2530  2018-03-28  22.549999  22.600000  22.450001  22.450001  22.450001
2531  2018-03-29  22.600000  22.600000  22.299999  22.299999  22.299999
2532  2018-03-30  22.350000  22.650000  22.350000  22.600000  22.600000
2533  2018-04-02  22.400000  22.500000  22.350000  22.400000  22.400000
2534  2018-04-03  22.350000  22.450001  22.299999  22.450001  22.450001
2535  2018-04-09  22.450001  22.500000  22.350000  22.500000  22.500000
2536  2018-04-10  22.450001  22.650000  22.350000  22.549999  22.549999
2537  2018-04-11  22.549999  22.700001  22.549999  22.600000  22.600000
2538  2018-04-12  22.700001  22.850000  22.600000  22.850000  22.850000
2539  2018-04-13  22.850000  22.900000  22.799999  22.850000  22.850000
2540  2018-04-16  22.850000  22.900000  22.700001  22.799999  22.799999
2541  2018-04-17  22.850000  23.299999  22.850000  23.200001  23.200001
2542  2018-04-18  23.299999  23.400000  22.950001  23.000000  23.000000
2543  2018-04-19  22.900000  23.200001  22.900000  23.100000  23.100000
2544  2018-04-20  23.100000  23.100000  22.950001  23.049999  23.049999
2545  2018-04-23  23.000000  23.000000  22.700001  22.700001  22.700001
2546  2018-04-24  22.750000  22.799999  22.500000  22.549999  22.549999
2547  2018-04-25  22.500000  22.600000  22.400000  22.600000  22.600000
2548  2018-04-26  22.650000  22.750000  22.500000  22.500000  22.500000
2549  2018-04-27  22.500000  22.750000  22.500000  22.700001  22.700001
2550  2018-04-30  22.700001  22.850000  22.650000  22.799999  22.799999
2551  2018-05-02  22.799999  22.850000  22.750000  22.850000  22.850000
2552  2018-05-03  22.600000  22.700001  22.500000  22.500000  22.500000
2553  2018-05-04  22.450001  22.549999  22.400000  22.450001  22.450001
2554  2018-05-07  22.549999  22.549999  22.350000  22.400000  22.400000
2555  2018-05-08  22.350000  22.450001  22.299999  22.350000  22.350000
2556  2018-05-09  22.350000  22.450001  22.299999  22.400000  22.400000
2557  2018-05-10  22.400000  22.400000  22.299999  22.299999  22.299999
2558  2018-05-11  22.500000  22.850000  22.500000  22.850000  22.850000

       Volume stock_symbol
0     1034348         2633
1     1492400         2633
2      986600         2633
3      706400         2633
4      866191         2633
5      715600         2633
6     1163933         2633
7      821200         2633
8     1270400         2633
9     1255600         2633
10    1748000         2633
11     836400         2633
12     322510         2633
13    1758020         2633
14    1194400         2633
15    1007200         2633
16     623660         2633
17     991240         2633
18     505600         2633
19     430000         2633
20    1214440         2633
21     543600         2633
22     812216         2633
23     943600         2633
24    1344000         2633
25    1230082         2633
26    1621400         2633
27    1602800         2633
28    1076000         2633
29    1140000         2633
...       ...          ...
2529  1274398         2633
2530   931637         2633
2531  2778811         2633
2532  1761059         2633
2533  1145001         2633
2534  2835499         2633
2535  1691248         2633
2536  1437232         2633
2537  1493625         2633
2538  2230701         2633
2539  1926899         2633
2540  1224558         2633
2541  5988953         2633
2542  2548451         2633
2543  2159296         2633
2544  1446412         2633
2545  2141599         2633
2546  2954541         2633
2547  1704445         2633
2548  2273800         2633
2549  2553012         2633
2550  2926252         2633
2551  2542185         2633
2552  1875915         2633
2553  1671400         2633
2554  1241600         2633
2555  1728356         2633
2556  2152237         2633
2557  1868324         2633
2558  3192076         2633

[2559 rows x 8 columns]
            Date       Open       High        Low      Close  Adj Close  \
0     2000-05-15  28.010500  28.420500  27.327400  27.464100  20.410721
1     2000-05-16  27.737301  27.737301  26.780800  27.190800  20.207611
2     2000-05-17  28.147200  28.966999  27.737301  28.283899  21.019978
3     2000-05-18  27.327400  28.283899  27.054100  28.283899  21.019978
4     2000-05-19  28.420500  29.650200  28.420500  29.376900  21.832272
5     2000-05-22  27.327400  27.737301  26.234301  26.234301  19.496761
6     2000-05-23  26.234301  26.507601  25.277800  25.414499  18.887505
7     2000-05-24  24.594700  25.961000  24.321400  25.551100  18.989023
8     2000-05-25  26.370899  26.370899  25.004601  25.277800  18.785912
9     2000-05-26  25.277800  26.234301  25.004601  25.687700  19.090542
10    2000-05-29  26.097700  26.097700  25.277800  25.277800  18.785912

[4520 rows x 8 columns]
            Date       Open       High        Low      Close  Adj Close  \
0     2000-05-15   8.724990   8.810110   8.554740   8.554740   4.953492
1     2000-05-16   8.597300   8.639870   8.427060   8.512180   4.928849
2     2000-05-17   8.512180   9.108040   8.512180   9.108040   5.273872
3     2000-05-18   9.150590   9.618770   9.150590   9.278280   5.372447
4     2000-05-19   9.363400   9.576210   9.278280   9.448530   5.471027
5     2000-05-22   9.150590   9.150590   8.895220   8.980360   5.199940
6     2000-05-23   8.937800   8.980360   8.724990   8.767530   5.076705
7     2000-05-24   8.682430   8.852670   8.554740   8.682430   5.027429
8     2000-05-25   8.810110   8.810110   8.554740   8.597300   4.978136
9     2000-05-26   8.512180   8.937800   8.512180   8.810110   5.101359
10    2000-05-29   8.810110   8.937800   8.639870   8.639870   5.002785
11    2000-05-30   8.639870   8.639870   8.639870   8.639870   5.002785
12    2000-05-31   8.810110   8.852670   8.682430   8.682430   5.027429
13    2000-06-01   8.724990   8.852670   8.724990   8.810110   5.101359
14    2000-06-02   8.937800   9.022910   8.682430   8.724990   5.052072
15    2000-06-05   8.767530   8.852670   8.639870   8.810110   5.101359
16    2000-06-06   8.810110   8.810110   8.810110   8.810110   5.101359
17    2000-06-07   8.724990   8.810110   8.597300   8.597300   4.978136
18    2000-06-08   8.724990   8.810110   8.639870   8.639870   5.002785
19    2000-06-09   8.639870   8.724990   8.427060   8.512180   4.928849
20    2000-06-12   8.512180   8.512180   8.171700   8.214260   4.756342
21    2000-06-13   8.171700   8.299380   8.129140   8.129140   4.707055
22    2000-06-14   8.086580   8.214260   8.086580   8.171700   4.731699
23    2000-06-15   8.171700   8.214260   7.958890   7.958890   4.608475
24    2000-06-16   7.958890   8.086580   7.873770   8.001450   4.633118
25    2000-06-19   7.958890   8.086580   7.958890   8.001450   4.633118
26    2000-06-20   8.044010   8.171700   7.958890   8.001450   4.633118
27    2000-06-21   8.044010   8.044010   7.703530   7.788650   4.509899
28    2000-06-22   7.703530   7.788650   7.660970   7.703530   4.460611
29    2000-06-23   7.788650   7.788650   7.660970   7.703530   4.460611
...          ...        ...        ...        ...        ...        ...
4490  2018-03-27  10.500000  10.550000  10.450000  10.500000  10.500000
4491  2018-03-28  10.450000  10.450000  10.350000  10.400000  10.400000
4492  2018-03-29  10.400000  10.400000  10.300000  10.300000  10.300000
4493  2018-03-30  10.350000  10.400000  10.300000  10.400000  10.400000
4494  2018-04-02  10.350000  10.400000  10.300000  10.300000  10.300000
4495  2018-04-03  10.250000  10.300000  10.200000  10.250000  10.250000
4496  2018-04-09  10.350000  10.400000  10.250000  10.400000  10.400000
4497  2018-04-10  10.400000  10.600000  10.350000  10.600000  10.600000
4498  2018-04-11  10.550000  10.600000  10.500000  10.600000  10.600000
4499  2018-04-12  10.600000  10.600000  10.500000  10.600000  10.600000
4500  2018-04-13  10.600000  10.600000  10.500000  10.600000  10.600000
4501  2018-04-16  10.550000  10.550000  10.450000  10.500000  10.500000
4502  2018-04-17  10.500000  10.550000  10.350000  10.400000  10.400000
4503  2018-04-18  10.450000  10.500000  10.400000  10.500000  10.500000
4504  2018-04-19  10.500000  10.600000  10.500000  10.600000  10.600000
4505  2018-04-20  10.550000  10.600000  10.500000  10.600000  10.600000
4506  2018-04-23  10.550000  10.600000  10.550000  10.600000  10.600000
4507  2018-04-24  10.550000  10.600000  10.500000  10.550000  10.550000
4508  2018-04-25  10.500000  10.600000  10.500000  10.550000  10.550000
4509  2018-04-26  10.600000  10.650000  10.550000  10.600000  10.600000
4510  2018-04-27  10.600000  10.600000  10.550000  10.600000  10.600000
4511  2018-04-30  10.600000  10.700000  10.550000  10.700000  10.700000
4512  2018-05-02  10.700000  10.750000  10.650000  10.700000  10.700000
4513  2018-05-03  10.650000  10.700000  10.600000  10.600000  10.600000
4514  2018-05-04  10.550000  10.600000  10.550000  10.550000  10.550000
4515  2018-05-07  10.550000  10.600000  10.500000  10.500000  10.500000
4516  2018-05-08  10.550000  10.600000  10.500000  10.550000  10.550000
4517  2018-05-09  10.550000  10.550000  10.500000  10.500000  10.500000
4518  2018-05-10  10.550000  10.600000  10.500000  10.550000  10.550000
4519  2018-05-11  10.600000  10.700000  10.600000  10.700000  10.700000

           Volume stock_symbol
0         5398661         2890
1         4243550         2890
2        23466236         2890
3     32412618103         2890
4        18558876         2890
5      5998460225         2890
6      4255134835         2890
7         7099381         2890
8         4260359         2890
9         9744495         2890
10        9574257         2890
11              0         2890
12        5555378         2890
13        5780622         2890
14     6324667296         2890
15     5136166767         2890
16              0         2890
17        4352800         2890
18        5606373         2890
19        7419954         2890
20        4547427         2890
21        3766570         2890
22        6457494         2890
23        4032711         2890
24        5475595         2890
25        3265907         2890
26        5584686         2890
27        4109894         2890
28        5801892         2890
29        4131290         2890
...           ...          ...
4490     13088329         2890
4491      9731782         2890
4492     18997302         2890
4493     13888918         2890
4494     10279083         2890
4495     14388324         2890
4496     18375916         2890
4497     20977464         2890
4498     14771214         2890
4499      7135118         2890
4500      9435589         2890
4501     12571281         2890
4502     14546317         2890
4503     12501681         2890
4504     16490198         2890
4505     13759552         2890
4506      7622228         2890
4507     13858635         2890
4508     15089458         2890
4509     16580966         2890
4510      8593990         2890
4511     14546121         2890
4512     12889448         2890
4513     12539593         2890
4514     10570121         2890
4515      6768070         2890
4516      7295844         2890
4517     14010833         2890
4518     12600983         2890
4519     12789675         2890

[4520 rows x 8 columns]
            Date       Open       High        Low      Close  Adj Close  \
0     2000-05-15  58.667599  58.956600  57.517399  57.806400  24.269758
1     2000-05-16  57.806400  60.392899  57.806400  60.392899  25.355688
2     2000-05-17  62.118301  63.843601  61.543201  62.693401  26.321545
3     2000-05-18  62.693401  62.693401  60.968102  61.257099  25.718519
4     2000-05-19  61.257099  61.543201  59.817799  60.681900  25.477022
5     2000-05-22  60.392899  61.257099  58.092499  58.956600  24.752666
6     2000-05-23  59.242699  59.242699  57.806400  58.092499  24.389874
7     2000-05-24  57.231300  57.517399  56.942200  57.231300  24.028299
8     2000-05-25  57.517399  58.381500  56.942200  57.231300  24.028299
9     2000-05-26  57.231300  58.381500  56.942200  58.092499  24.389874
10    2000-05-29  58.092499  59.531700  58.092499  58.956600  24.752666
11    2000-05-30  58.956600  58.956600  58.956600  58.956600  24.752666
12    2000-05-31  64.996803  64.996803  63.268501  63.268501  26.562994
13    2000-06-01  64.421600  64.421600  62.693401  62.693401  26.321545
14    2000-06-02  64.132599  64.707802  62.693401  62.693401  26.321545
15    2000-06-05  63.843601  63.843601  62.982399  63.268501  26.562994
16    2000-06-06  63.268501  63.268501  63.268501  63.268501  26.562994
17    2000-06-07  63.268501  65.858002  62.693401  65.858002  27.650183
18    2000-06-08  65.571899  65.571899  63.268501  63.268501  26.562994
19    2000-06-09  62.982399  63.843601  61.543201  61.832199  25.959970
20    2000-06-12  61.832199  62.407299  57.806400  59.817799  25.114235
21    2000-06-13  60.795799  62.406101  60.395199  62.406101  26.655626
22    2000-06-14  64.016502  65.226196  63.211300  63.615898  27.172373
23    2000-06-15  64.016502  64.016502  62.810699  64.016502  27.343483
24    2000-06-16  64.421097  66.431999  64.016502  65.226196  27.860180
25    2000-06-19  65.226196  65.226196  63.211300  64.421097  27.516298
26    2000-06-20  65.226196  66.031403  64.016502  64.421097  27.516298
27    2000-06-21  64.016502  64.016502  62.810699  63.211300  26.999557
28    2000-06-22  63.211300  64.421097  62.810699  63.211300  26.999557
29    2000-06-23  63.211300  63.615898  62.005600  62.005600  26.484562
...          ...        ...        ...        ...        ...        ...
4490  2018-03-27  60.099998  60.099998  59.500000  59.799999  59.799999
4491  2018-03-28  59.400002  59.599998  59.000000  59.200001  59.200001
4492  2018-03-29  59.000000  59.099998  58.500000  58.799999  58.799999
4493  2018-03-30  59.000000  59.200001  58.799999  58.799999  58.799999
4494  2018-04-02  59.099998  59.299999  58.900002  59.000000  59.000000
4495  2018-04-03  58.500000  58.700001  58.299999  58.299999  58.299999
4496  2018-04-09  58.000000  58.400002  57.500000  58.000000  58.000000
4497  2018-04-10  57.599998  58.000000  57.599998  57.700001  57.700001
4498  2018-04-11  58.000000  58.400002  57.500000  57.500000  57.500000
4499  2018-04-12  57.599998  57.700001  56.599998  56.799999  56.799999
4500  2018-04-13  56.799999  56.799999  56.099998  56.099998  56.099998
4501  2018-04-16  56.000000  56.099998  55.000000  55.099998  55.099998
4502  2018-04-17  55.000000  55.000000  53.799999  53.799999  53.799999
4503  2018-04-18  53.700001  54.400002  53.000000  53.200001  53.200001
4504  2018-04-19  53.500000  54.900002  53.500000  54.900002  54.900002
4505  2018-04-20  54.900002  54.900002  54.000000  54.000000  54.000000
4506  2018-04-23  54.099998  54.599998  53.900002  54.099998  54.099998
4507  2018-04-24  54.200001  54.799999  53.599998  54.299999  54.299999
4508  2018-04-25  54.000000  54.400002  53.900002  54.200001  54.200001
4509  2018-04-26  54.299999  54.700001  54.099998  54.099998  54.099998
4510  2018-04-27  54.400002  54.799999  54.000000  54.000000  54.000000
4511  2018-04-30  54.500000  54.500000  53.799999  54.099998  54.099998
4512  2018-05-02  54.099998  54.500000  53.599998  53.599998  53.599998
4513  2018-05-03  53.500000  53.500000  52.599998  52.700001  52.700001
4514  2018-05-04  52.500000  53.099998  52.299999  52.799999  52.799999
4515  2018-05-07  53.099998  53.500000  52.799999  53.099998  53.099998
4516  2018-05-08  53.099998  53.099998  52.700001  52.799999  52.799999
4517  2018-05-09  52.599998  52.700001  52.200001  52.400002  52.400002
4518  2018-05-10  52.500000  53.099998  52.400002  52.900002  52.900002
4519  2018-05-11  53.000000  53.400002  53.000000  53.099998  53.099998

               Volume stock_symbol
0      27681380025527         2382
1      55362760051054         2382
2         55362760051         2382
3      24913242022974         2382
4      24913242022974         2382
5      27681380025527         2382
6      19376966017869         2382
7      22145104020422         2382
8      24913242022974         2382
9      24913242022974         2382
10     27681380025527         2382
11                  0         2382
12        55362760051         2382
13        27681380026         2382
14        27681380026         2382
15        22145104020         2382
16                  0         2382
17        55362760051         2382
18        27681380026         2382
19        27681380026         2382
20    110725520102109         2382
21     19772414303948         2382
22        59317242912         2382
23     13840690012764         2382
24        19772414304         2382
25         9886207152         2382
26        13840690013         2382
27      9886207151974         2382
28     13840690012764         2382
29         7908965722         2382
...               ...          ...
4490         10110334         2382
4491          7256236         2382
4492          6820448         2382
4493          3571191         2382
4494          2509689         2382
4495          6079271         2382
4496          6047812         2382
4497          5668601         2382
4498          5553371         2382
4499          9075144         2382
4500         10833249         2382
4501         11047799         2382
4502         13820134         2382
4503         12331134         2382
4504          6804567         2382
4505          6436170         2382
4506          4615329         2382
4507          5863563         2382
4508          3176823         2382
4509          3542319         2382
4510          4905619         2382
4511          7477744         2382
4512          7274571         2382
4513         10122134         2382
4514          9035040         2382
4515          3353534         2382
4516          6605100         2382
4517         11332813         2382
4518          5848061         2382
4519          6220627         2382

[4520 rows x 8 columns]
            Date        Open        High         Low       Close   Adj Close  \
0     2000-05-15   48.163300   48.163300   46.558899   47.562302   25.302597
1     2000-05-16   47.761002   48.565701   47.358601   47.761002   25.408306
2     2000-05-17   49.365398   49.966499   47.761002   47.761002   25.408306
3     2000-05-18   47.358601   47.358601   45.952900   46.156502   24.554729
4     2000-05-19   45.754200   47.159901   45.555500   45.952900   24.446411
5     2000-05-22   45.754200   46.558899   45.153099   45.952900   24.446411
6     2000-05-23   45.153099   45.952900   44.949501   45.754200   24.340708
7     2000-05-24   45.351799   45.351799   44.149700   44.552101   23.701210
8     2000-05-25   45.153099   45.952900   44.552101   45.952900   24.446411
9     2000-05-26   45.952900   46.558899   45.351799   45.555500   24.235008
10    2000-05-29   45.555500   46.156502   44.949501   45.754200   24.340708
11    2000-05-30   45.754200   45.754200   45.754200   45.754200   24.340708
12    2000-05-31   48.163300   48.163300   47.159901   47.562302   25.302597
13    2000-06-01   47.562302   47.761002   46.558899   47.159901   25.088520
14    2000-06-02   47.562302   48.963100   47.159901   47.562302   25.302597
15    2000-06-05   47.358601   47.959702   47.159901   47.562302   25.302597
16    2000-06-06   47.562302   47.562302   47.562302   47.562302   25.302597
17    2000-06-07   46.956299   48.163300   46.956299   47.562302   25.302597
18    2000-06-08   47.761002   48.163300   46.956299   47.959702   25.514004
19    2000-06-09   48.362000   48.565701   47.562302   48.362000   25.728024
20    2000-06-12   48.565701   48.565701   48.163300   48.163300   25.622322
21    2000-06-13   48.163300   48.963100   48.163300   48.163300   25.622322
22    2000-06-14   48.163300   48.764400   47.761002   47.761002   25.408306
23    2000-06-15   47.761002   47.959702   46.558899   46.757599   24.874502
24    2000-06-16   46.558899   46.757599   46.558899   46.558899   24.768799
25    2000-06-19   46.558899   46.558899   45.754200   46.156502   24.554729
26    2000-06-20   46.558899   46.757599   45.754200   45.754200   24.340708
27    2000-06-21   46.156502   46.355202   44.949501   44.949501   23.912619
28    2000-06-22   45.754200   46.558899   45.153099   46.558899   24.768799
29    2000-06-23   46.156502   48.362000   46.156502   47.761002   25.408306
...          ...         ...         ...         ...         ...         ...
4490  2018-03-27  297.000000  298.000000  294.000000  297.000000  297.000000
4491  2018-03-28  297.000000  298.000000  295.500000  297.000000  297.000000
4492  2018-03-29  298.000000  298.000000  293.000000  293.000000  293.000000
4493  2018-03-30  295.000000  296.000000  294.000000  296.000000  296.000000
4494  2018-04-02  296.000000  296.000000  294.000000  295.500000  295.500000
4495  2018-04-03  294.000000  298.500000  294.000000  298.000000  298.000000
4496  2018-04-09  300.000000  300.000000  295.000000  299.500000  299.500000
4497  2018-04-10  298.500000  302.500000  298.500000  302.500000  302.500000
4498  2018-04-11  301.500000  303.000000  300.000000  300.500000  300.500000
4499  2018-04-12  300.500000  304.500000  300.000000  301.500000  301.500000
4500  2018-04-13  301.000000  303.000000  300.000000  303.000000  303.000000
4501  2018-04-16  301.500000  302.000000  300.000000  300.500000  300.500000
4502  2018-04-17  299.500000  301.500000  298.000000  301.500000  301.500000
4503  2018-04-18  302.000000  303.000000  301.500000  302.500000  302.500000
4504  2018-04-19  302.000000  307.000000  301.500000  305.500000  305.500000
4505  2018-04-20  302.000000  305.000000  301.000000  303.500000  303.500000
4506  2018-04-23  301.000000  302.000000  293.500000  295.000000  295.000000
4507  2018-04-24  295.500000  297.500000  294.000000  295.000000  295.000000
4508  2018-04-25  294.000000  295.000000  292.000000  295.000000  295.000000
4509  2018-04-26  293.000000  295.000000  292.000000  293.000000  293.000000
4510  2018-04-27  292.000000  294.000000  289.000000  292.500000  292.500000
4511  2018-04-30  292.500000  294.000000  291.000000  292.500000  292.500000
4512  2018-05-02  292.500000  297.000000  292.500000  294.500000  294.500000
4513  2018-05-03  294.500000  295.500000  292.000000  292.500000  292.500000
4514  2018-05-04  292.000000  292.500000  290.000000  290.500000  290.500000
4515  2018-05-07  291.500000  291.500000  290.500000  290.500000  290.500000
4516  2018-05-08  292.500000  293.500000  290.500000  293.500000  293.500000
4517  2018-05-09  293.500000  293.500000  289.500000  289.500000  289.500000
4518  2018-05-10  293.000000  302.500000  291.500000  301.000000  301.000000
4519  2018-05-11  302.500000  306.500000  302.000000  303.000000  303.000000

          Volume stock_symbol
0     4706457412         2912
1     6242468911         2912
2     7506986967         2912
3     5933778491         2912
4     3686162667         2912
5     2951789612         2912
6     1460826376         2912
7     3759471533         2912
8     7660870159         2912
9     8079840950         2912
10    1758184774         2912
11             0         2912
12    5000304876         2912
13    1228438377         2912
14    4145376331         2912
15    1342026354         2912
16             0         2912
17    2221213359         2912
18    4978369591         2912
19    4120437426         2912
20    7008595385         2912
21    3687620187         2912
22    1913722776         2912
23    3502798902         2912
24    2995962155         2912
25    3102389356         2912
26    1973142919         2912
27    4599011557         2912
28    4062943868         2912
29    8692136574         2912
...          ...          ...
4490      751224         2912
4491      363163         2912
4492      805225         2912
4493      375937         2912
4494      285162         2912
4495      770690         2912
4496      849534         2912
4497     1423285         2912
4498      503593         2912
4499      536262         2912
4500      409329         2912
4501      263106         2912
4502      724440         2912
4503      423407         2912
4504      750395         2912
4505     1068897         2912
4506     1458446         2912
4507      786688         2912
4508      451517         2912
4509      666664         2912
4510      885173         2912
4511      758083         2912
4512      933606         2912
4513      710765         2912
4514      510287         2912
4515      298468         2912
4516      733797         2912
4517      897989         2912
4518     2047817         2912
4519     1357161         2912

[4520 rows x 8 columns]

In [119]:
df = pd.read_csv('data.csv', index_col=0)
print (df.columns)
#df = df.drop('Unnamed: 0.1.1', 1)
#df = df.drop('Unnamed: 0.1', 1)
df = df.drop('Unnamed: 7', 1)
df.head()
df.to_csv('data.csv', index=False)

Index(['Close', 'Date', 'High', 'Low', 'Open', 'Unnamed: 7', 'Volume',
       'stock_symbol'],
      dtype='object')

In [5]:
CSV_PATH = '.'
def load_data(csv_path=CSV_PATH):
    csv_path = os.path.join(csv_path, "data.csv")
    return pd.read_csv(csv_path)

In [121]:
data = load_data()
data.head()

,Close,Date,High,Low,Open,Volume,stock_symbol
0,18.602699,2000-05-15,18.602699,17.734600,17.734600,61280484,1101
1,19.160801,2000-05-16,19.222799,18.354700,18.974800,112096679457,1101
2,19.656900,2000-05-17,20.215000,19.408800,19.594801,89215524570,1101
3,19.222799,2000-05-18,19.594801,18.912701,19.098801,36414869904,1101
4,19.346800,2000-05-19,19.656900,18.974800,18.974800,38683299,1101

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224266 entries, 0 to 224265
Data columns (total 6 columns):
Date            224266 non-null object
High            224266 non-null object
Low             224266 non-null object
Open            224266 non-null object
Volume          224266 non-null object
stock_symbol    224266 non-null int64
dtypes: int64(1), object(5)
memory usage: 10.3+ MB

In [96]:
data.describe()

        stock_symbol
count  224266.000000
mean     2756.176398
std      1459.673765
min      1101.000000
25%      2303.000000
50%      2454.000000
75%      2886.000000
max      9904.000000

In [2]:
%matplotlib inline
import matplotlib as plt

In [3]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.1, random_state=42)

NameError: name 'data' is not defined

In [123]:
print (train)

             Close        Date        High         Low        Open  \
148675   62.700001  2017-03-31   63.500000   62.700001   62.900002
184749  326.000000  2014-06-23  327.500000  324.500000  327.500000
121267   30.135599  2003-09-17   30.613899   29.588900   29.725599
33954     7.060000  2012-07-12    7.280000    7.060000    7.210000
34892    10.050000  2016-05-06   10.150000   10.000000   10.100000
37450    73.555603  2010-10-19   73.666702   72.888901   73.666702
154570   11.303000  2006-05-04   11.327300   10.938300   11.084200
186694   13.666700  2006-11-03   13.696200   13.460100   13.489600
95602    50.325802  2002-07-25   53.204601   50.325802   52.719898
39731         null  2001-12-21        null        null        null
191202   76.000000  2010-08-10   76.500000   76.000000   76.400002
10679    62.480701  2006-09-08   62.887798   61.463100   61.802299
124699  169.000000  2017-06-23  170.000000  167.500000  170.000000
111874   15.244800  2002-01-11   16.476900   15.131800   16.365700
151009   25.295200  2008-06-03   25.974300   25.210400   25.974300
78030    25.650000  2016-12-12   25.750000   25.549999   25.700001
199241  290.451996  2008-07-18  308.178986  290.451996  308.178986
80178     5.194240  2009-02-05    5.329270    5.185240    5.311270
137621   71.599998  2015-06-05   72.199997   71.099998   71.699997
167580   38.142502  2004-09-21   38.142502   37.785999   37.785999
124351  135.500000  2016-01-19  140.000000  132.500000  139.000000
170319   70.099998  2015-09-23   70.199997   68.599998   69.400002
11673    58.634701  2010-09-13   58.634701   57.281601   57.507099
195944   13.702900  2013-03-13   13.741900   13.546700   13.663800
29158    58.079399  2011-06-02   58.660198   58.021301   58.369801
122212  103.588997  2007-06-05  105.871002  103.133003  104.958000
157203   16.797100  2016-12-19   16.981199   16.797100   16.935200
2562     26.908501  2010-06-03   27.056700   26.809799   27.056700
76097    18.766800  2009-02-25   19.147301   18.766800   18.935900
44277     4.700890  2002-01-28    4.700890    4.395140    4.509800
...            ...         ...         ...         ...         ...
85305   979.000000  2013-06-14  988.000000  961.000000  961.000000
184779  326.000000  2014-08-04  327.500000  321.000000  325.000000
214176   10.968000  2014-02-06   11.046700   10.928700   11.046700
103355   19.848400  2004-01-12   20.162100   19.531099   19.848400
5311     10.400400  2003-05-27   10.678300   10.321000   10.440100
199041  613.630005  2007-09-27  613.630005  580.903015  580.903015
64925     9.623960  2000-10-18    9.904230    9.577200    9.810790
194027   13.528100  2005-06-22   13.528100   13.310400   13.310400
59735   232.500000  2016-01-27  236.000000  232.500000  235.000000
769       8.901270  2003-04-25    9.140770    8.901270    9.060930
64820     9.172180  2000-05-24    9.172180    8.891810    8.971920
67221    25.927700  2009-10-19   26.030600   25.790501   25.790501
41090    13.715000  2007-04-10   13.889200   13.671500   13.715000
16023   346.000000  2011-04-12  352.000000  346.000000  351.000000
191335   90.000000  2011-02-22   93.000000   89.000000   92.699997
175203    9.700000  2012-06-01    9.700000    9.700000    9.700000
126324   19.035999  2005-10-07   19.035999   18.893900   18.941299
112727   65.959702  2005-04-20   67.365700   63.543201   66.764099
87498    12.883800  2004-02-23   13.108800   12.771200   13.108800
168266   63.803001  2007-06-12   63.803001   63.174000   63.443600
213458    9.069540  2011-03-09    9.069540    8.934170    8.934170
137337   66.000000  2014-04-11   66.000000   65.000000   65.400002
54886    32.267700  2009-11-20   33.001999   32.138100   32.958900
207892  511.087006  2006-12-14  515.129028  510.509003  512.818970
110268       247.5    2013/8/5         250       245.5         250
119879    9.010000  2016-04-07    9.260000    9.010000    9.220000
103694   30.841801  2005-04-29   31.156000   30.771999   31.016399
131932   83.750000  2010-09-07   84.000000   83.375000   84.000000
146867   36.765800  2009-12-02   37.375999   36.562401   36.969200
121958   82.575699  2006-05-24   83.271103   81.098099   81.271896

             Volume  stock_symbol
148675      3931000          2105
184749       831000          2357
121267  13467128553          2308
33954       4592000          2352
34892       2374000          2352
37450       4208400          3045
154570     37134704          2884
186694     16839040          2892
95602      39155887          2301
39731          null          2885
191202      1928000          6505
10679        857900          2395
124699      3439000          2308
111874  48634901126          2474
151009      5839778          9904
78030      21257000          2002
199241       917739          2408
80178      17598023          2883
137621      5703000          1303
167580  16035358747          1301
124351     11596000          2308
170319      7531000          1301
11673       1308986          2395
195944     10148674          2880
29158      63893598          2317
122212      4509800          2308
157203     10156545          2884
2562        6579447          1101
76097      34618640          2002
44277      57112524          2823
...             ...           ...
85305       1711000          3008
184779      2019000          2357
214176     18986578          2890
103355   4854695532          2354
5311     6870962615          2610
199041      1398298          2408
64925   14546202326          1216
194027     19862394          2880
59735         60000          2227
769        32238138          1101
64820   11333810141          1216
67221       9508416          1216
41090       7072836          2885
16023       3186000          2454
191335      6586000          6505
175203            0          2633
126324     51046779          2886
112727  54917200924          2474
87498   29938197116          1402
168266      6283982          1301
213458     39718919          2890
137337      5709000          1303
54886      33349997          2881
207892      1080161          4938
110268      6357000          1206
119879     44188000          2409
103694   3105664434          2354
131932     14693600          2412
146867     19082915          2105
121958     11808313          2308

[201839 rows x 7 columns]

In [9]:
data = load_data()
set(data['stock_symbol'])
data.loc[data['stock_symbol'] == 1101]['Close'].values

array(['18.602699', '19.160801', '19.656900', ..., '40.599998',
       '41.099998', '41.250000'], dtype=object)

In [ ]:
plt.pyplot.plot(data.loc[data['stock_symbol'] == 1101]['Close'].values)

In [ ]:
import os
import tensorflow as tf
import numpy as np
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical
import _pickle as pk

class DataManager:
    def __init__(self):
        self.data = {}
    # Read data from data_path
    #  name       : string,  name of data
    #  with_label : bool,  read data with label or without label
    def add_data(self, name,  data_path,  with_label=True):
        print ('read data from %s...'%data_path)
        X,  Y = [],  []
        with open(data_path, 'r') as f:
            for line in f:
                if with_label:
                    lines = line.strip().split(' +++$+++ ')
                    X.append(lines[1])
                    Y.append(int(lines[0]))
                else:
                    X.append(line)

        if with_label:
            self.data[name] = [X, Y]
        else:
            self.data[name] = [X]

	# Build dictionary
    #  vocab_size : maximum number of word in yout dictionary
    def tokenize(self,  vocab_size):
        print ('create new tokenizer')
        self.tokenizer = Tokenizer(num_words=vocab_size)
        for key in self.data:
            print ('tokenizing %s'%key)
            texts = self.data[key][0]
            self.tokenizer.fit_on_texts(texts)

    # Save tokenizer to specified path
    def save_tokenizer(self,  path):
        print ('save tokenizer to %s'%path)
        pk.dump(self.tokenizer,  open(path,  'wb'))

    # Load tokenizer from specified path
    def load_tokenizer(self, path):
        print ('Load tokenizer from %s'%path)
        self.tokenizer = pk.load(open(path,  'rb'))

	# Convert words in data to index and pad to equal size
    #  maxlen : max length after padding
    def to_sequence(self,  maxlen):
        self.maxlen = maxlen
        for key in self.data:
            print ('Converting %s to sequences'%key)
            tmp = self.tokenizer.texts_to_sequences(self.data[key][0])
            self.data[key][0] = np.array(pad_sequences(tmp,  maxlen=maxlen))

    # Convert texts in data to BOW feature
    def to_bow(self):
        for key in self.data:
            print ('Converting %s to tfidf'%key)
            self.data[key][0] = self.tokenizer.texts_to_matrix(self.data[key][0], mode='count')

    # Convert label to category type,  call this function if use categorical loss
    def to_category(self):
        for key in self.data:
            if len(self.data[key]) == 2:
                self.data[key][1] = np.array(to_categorical(self.data[key][1]))

    def get_semi_data(self, name, label, threshold, loss_function) :
        # if th==0.3,  will pick label>0.7 and label<0.3
        label = np.squeeze(label)
        index = (label>1-threshold) + (label<threshold)
        semi_X = self.data[name][0]
        semi_Y = np.greater(label,  0.5).astype(np.int32)
        if loss_function=='binary_crossentropy':
            return semi_X[index, :],  semi_Y[index]
        elif loss_function=='categorical_crossentropy':
            return semi_X[index, :],  to_categorical(semi_Y[index])
        else :
            raise Exception('Unknown loss function : %s'%loss_function)

	# get data by name
    def get_data(self, name):
        return self.data[name]

    # split data to two part by a specified ratio
    #  name  : string,  same as add_data
    #  ratio : float,  ratio to split
    def split_data(self,  name,  ratio):
        data = self.data[name]
        X = data[0]
        Y = data[1]
        data_size = len(X)
        val_size = int(data_size * ratio)
        return (X[val_size:], Y[val_size:]), (X[:val_size], Y[:val_size])